/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }
@-webkit-keyframes fadeOut {
  0% {
    filter: alpha(opacity=100); }

  100% {
    filter: alpha(opacity=0); } }
@keyframes fadeOut {
  0% {
    filter: alpha(opacity=100); }

  100% {
    filter: alpha(opacity=0); } }
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none; }
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel.owl-loaded {
    display: block; }
.owl-carousel.owl-loading {
    filter: alpha(opacity=0);
    display: block; }
.owl-carousel.owl-hidden {
    filter: alpha(opacity=0); }
.owl-carousel.owl-refresh .owl-item {
    display: none; }
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab; }
.owl-carousel.owl-rtl {
    direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
    float: right; }
/* No Js */
.no-js .owl-carousel {
  display: block; }
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  filter: alpha(opacity=0);
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
.owl-carousel .owl-item img {
  transform-style: preserve-3d; }
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  filter: alpha(opacity=0);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
.owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
.owl-theme .owl-nav .disabled {
    filter: alpha(opacity=50);
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
.owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -moz-transition: opacity 200ms ease;
      -ms-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }
.dk-select,.dk-select *,.dk-select *:before,.dk-select *:after,.dk-select-multi,.dk-select-multi *,.dk-select-multi *:before,.dk-select-multi *:after{-webkit-box-sizing:border-box;box-sizing:border-box}
.dk-select,.dk-select-multi{position:relative;display:inline-block;vertical-align:middle;line-height:1.5em;width:200px;cursor:pointer}
.dk-selected{width:100%;white-space:nowrap;overflow:hidden;position:relative;background-color:white;border:1px solid #ccc;border-radius:0.4em;padding:0 1.5em 0 0.5em;text-overflow:ellipsis}
.dk-selected:before,.dk-selected:after{content:'';display:block;position:absolute;right:0}
.dk-selected:before{top:50%;border:solid transparent;border-width:0.25em 0.25em 0;border-top-color:#ccc;margin:-0.125em 0.5em 0 0}
.dk-selected:after{top:0;height:100%;border-left:1px solid #ccc;margin:0 1.5em 0 0}
.dk-selected-disabled{color:#bbb}
.dk-select .dk-select-options{position:absolute;display:none;left:0;right:0}
.dk-select-open-up .dk-select-options{border-radius:0.4em 0.4em 0 0;margin-bottom:-1px;bottom:100%}
.dk-select-open-down .dk-select-options{border-radius:0 0 0.4em 0.4em;margin-top:-1px;top:100%}
.dk-select-multi .dk-select-options{max-height:10em}
.dk-select-options{background-color:white;border:1px solid #ccc;border-radius:0.4em;list-style:none;margin:0;max-height:10.5em;min-width:100%;overflow-x:hidden;overflow-y:auto;padding:0.25em 0;width:auto;z-index:100}
.dk-option-selected{background-color:#3297fd;color:#fff}
.dk-select-options-highlight .dk-option-selected{background-color:transparent;color:inherit}
.dk-option{padding:0 0.5em}
.dk-select-options .dk-option-highlight{background-color:#3297fd;color:#fff}
.dk-select-options .dk-option-disabled{color:#bbb;background-color:transparent}
.dk-optgroup{border:solid #ccc;border-width:1px 0;padding:0.25em 0;margin-top:0.25em}
.dk-optgroup+.dk-option{margin-top:0.25em}
.dk-optgroup+.dk-optgroup{border-top-width:0;margin-top:0}
:first-child + .dk-optgroup{padding-top:0;border-top:none;margin-top:0}
.dk-optgroup:last-child{border-bottom-width:0;margin-bottom:0;padding-bottom:0}
.dk-optgroup-label{padding:0 0.5em 0.25em;font-weight:bold;width:100%}
.dk-optgroup-options{list-style:none;padding-left:0}
.dk-optgroup-options li{padding-left:1.2em}
.dk-select-open-up .dk-selected{border-top-left-radius:0;border-top-right-radius:0;border-color:#3297fd}
.dk-select-open-down .dk-selected{border-bottom-left-radius:0;border-bottom-right-radius:0;border-color:#3297fd}
.dk-select-open-up .dk-selected:before,.dk-select-open-down .dk-selected:before{border-width:0 0.25em 0.25em;border-bottom-color:#3297fd}
.dk-select-open-up .dk-selected:after,.dk-select-open-down .dk-selected:after{border-left-color:#3297fd}
.dk-select-open-up .dk-select-options,.dk-select-open-down .dk-select-options,.dk-select-multi:focus .dk-select-options{display:block;border-color:#3297fd}
.dk-select-multi:hover,.dk-select-multi:focus{outline:none}
.dk-selected:hover,.dk-selected:focus{outline:none;border-color:#3297fd}
.dk-selected:hover:before,.dk-selected:focus:before{border-top-color:#3297fd}
.dk-selected:hover:after,.dk-selected:focus:after{border-left-color:#3297fd}
.dk-select-disabled{filter: alpha(opacity=60);color:#bbb;cursor:not-allowed}
.dk-select-disabled .dk-selected:hover,.dk-select-disabled .dk-selected:focus{border-color:inherit}
.dk-select-disabled .dk-selected:hover:before,.dk-select-disabled .dk-selected:focus:before{border-top-color:inherit}
.dk-select-disabled .dk-selected:hover:after,.dk-select-disabled .dk-selected:focus:after{border-left-color:inherit}
select[data-dkcacheid]{display:none}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
{display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:0.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
{overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
.foundation-mq{font-family:"small=0em&bp480=30em&medium=40em&large=64em&xlarge=75em&xxlarge=85.375em"}
html{font-size:100%;-webkit-box-sizing:border-box;box-sizing:border-box}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit}
body{padding:0;margin:0;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:normal;line-height:1.5;color:#0a0a0a;background:#fefefe;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
img{max-width:100%;height:auto;-ms-interpolation-mode:bicubic;display:inline-block;vertical-align:middle}
textarea{height:auto;min-height:50px;border-radius:0}
select{width:100%;border-radius:0}
#map_canvas img,#map_canvas embed,#map_canvas object,.map_canvas img,.map_canvas embed,.map_canvas object,.mqa-display img,.mqa-display embed,.mqa-display object{max-width:none !important}
button{-webkit-appearance:none;-moz-appearance:none;background:transparent;padding:0;border:0;border-radius:0;line-height:1}
.is-visible{display:block !important}
.is-hidden{display:none !important}
.row{max-width:1366px;margin-left:auto;margin-right:auto}
.row:before,.row:after{content:' ';display:table;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.row:after{clear:both}
.row.collapse>.column,.row.collapse>.columns{padding-left:0;padding-right:0}
.row .row{margin-left:-10px;margin-right:-10px}
.row .row {
  margin-left: -15px;
  margin-right: -15px; }
.row .row.collapse{margin-left:0;margin-right:0}
.row.expanded{max-width:none}
.row.expanded .row{margin-left:auto;margin-right:auto}
.column,.columns{width:100%;float:left;padding-left:10px;padding-right:10px}
.column,.columns {
  padding-left: 15px;
  padding-right: 15px; }
{float:right}
.column.end:last-child:last-child,.end.columns:last-child:last-child{float:left}
.column.row.row,.row.row.columns{float:none}
.row .column.row.row,.row .row.row.columns{padding-left:0;padding-right:0;margin-left:0;margin-right:0}
.small-1{width:8.3333333333%}
.small-push-1{position:relative;left:8.3333333333%}
.small-pull-1{position:relative;left:-8.3333333333%}
.small-offset-0{margin-left:0%}
.small-2{width:16.6666666667%}
.small-push-2{position:relative;left:16.6666666667%}
.small-pull-2{position:relative;left:-16.6666666667%}
.small-offset-1{margin-left:8.3333333333%}
.small-3{width:25%}
.small-push-3{position:relative;left:25%}
.small-pull-3{position:relative;left:-25%}
.small-offset-2{margin-left:16.6666666667%}
.small-4{width:33.3333333333%}
.small-push-4{position:relative;left:33.3333333333%}
.small-pull-4{position:relative;left:-33.3333333333%}
.small-offset-3{margin-left:25%}
.small-5{width:41.6666666667%}
.small-push-5{position:relative;left:41.6666666667%}
.small-pull-5{position:relative;left:-41.6666666667%}
.small-offset-4{margin-left:33.3333333333%}
.small-6{width:50%}
.small-push-6{position:relative;left:50%}
.small-pull-6{position:relative;left:-50%}
.small-offset-5{margin-left:41.6666666667%}
.small-7{width:58.3333333333%}
.small-push-7{position:relative;left:58.3333333333%}
.small-pull-7{position:relative;left:-58.3333333333%}
.small-offset-6{margin-left:50%}
.small-8{width:66.6666666667%}
.small-push-8{position:relative;left:66.6666666667%}
.small-pull-8{position:relative;left:-66.6666666667%}
.small-offset-7{margin-left:58.3333333333%}
.small-9{width:75%}
.small-push-9{position:relative;left:75%}
.small-pull-9{position:relative;left:-75%}
.small-offset-8{margin-left:66.6666666667%}
.small-10{width:83.3333333333%}
.small-push-10{position:relative;left:83.3333333333%}
.small-pull-10{position:relative;left:-83.3333333333%}
.small-offset-9{margin-left:75%}
.small-11{width:91.6666666667%}
.small-push-11{position:relative;left:91.6666666667%}
.small-pull-11{position:relative;left:-91.6666666667%}
.small-offset-10{margin-left:83.3333333333%}
.small-12{width:100%}
.small-offset-11{margin-left:91.6666666667%}
.small-up-1>.column,.small-up-1>.columns{width:100%;float:left}
.small-up-1>.column:nth-of-type(1n),.small-up-1>.columns:nth-of-type(1n){clear:none}
.small-up-1>.column:nth-of-type(1n+1),.small-up-1>.columns:nth-of-type(1n+1){clear:both}
.small-up-1>.column:last-child,.small-up-1>.columns:last-child{float:left}
.small-up-2>.column,.small-up-2>.columns{width:50%;float:left}
.small-up-2>.column:nth-of-type(1n),.small-up-2>.columns:nth-of-type(1n){clear:none}
.small-up-2>.column:nth-of-type(2n+1),.small-up-2>.columns:nth-of-type(2n+1){clear:both}
.small-up-2>.column:last-child,.small-up-2>.columns:last-child{float:left}
.small-up-3>.column,.small-up-3>.columns{width:33.3333333333%;float:left}
.small-up-3>.column:nth-of-type(1n),.small-up-3>.columns:nth-of-type(1n){clear:none}
.small-up-3>.column:nth-of-type(3n+1),.small-up-3>.columns:nth-of-type(3n+1){clear:both}
.small-up-3>.column:last-child,.small-up-3>.columns:last-child{float:left}
.small-up-4>.column,.small-up-4>.columns{width:25%;float:left}
.small-up-4>.column:nth-of-type(1n),.small-up-4>.columns:nth-of-type(1n){clear:none}
.small-up-4>.column:nth-of-type(4n+1),.small-up-4>.columns:nth-of-type(4n+1){clear:both}
.small-up-4>.column:last-child,.small-up-4>.columns:last-child{float:left}
.small-up-5>.column,.small-up-5>.columns{width:20%;float:left}
.small-up-5>.column:nth-of-type(1n),.small-up-5>.columns:nth-of-type(1n){clear:none}
.small-up-5>.column:nth-of-type(5n+1),.small-up-5>.columns:nth-of-type(5n+1){clear:both}
.small-up-5>.column:last-child,.small-up-5>.columns:last-child{float:left}
.small-up-6>.column,.small-up-6>.columns{width:16.6666666667%;float:left}
.small-up-6>.column:nth-of-type(1n),.small-up-6>.columns:nth-of-type(1n){clear:none}
.small-up-6>.column:nth-of-type(6n+1),.small-up-6>.columns:nth-of-type(6n+1){clear:both}
.small-up-6>.column:last-child,.small-up-6>.columns:last-child{float:left}
.small-up-7>.column,.small-up-7>.columns{width:14.2857142857%;float:left}
.small-up-7>.column:nth-of-type(1n),.small-up-7>.columns:nth-of-type(1n){clear:none}
.small-up-7>.column:nth-of-type(7n+1),.small-up-7>.columns:nth-of-type(7n+1){clear:both}
.small-up-7>.column:last-child,.small-up-7>.columns:last-child{float:left}
.small-up-8>.column,.small-up-8>.columns{width:12.5%;float:left}
.small-up-8>.column:nth-of-type(1n),.small-up-8>.columns:nth-of-type(1n){clear:none}
.small-up-8>.column:nth-of-type(8n+1),.small-up-8>.columns:nth-of-type(8n+1){clear:both}
.small-up-8>.column:last-child,.small-up-8>.columns:last-child{float:left}
.small-collapse>.column,.small-collapse>.columns{padding-left:0;padding-right:0}
.small-collapse .row{margin-left:0;margin-right:0}
.small-uncollapse>.column,.small-uncollapse>.columns{padding-left:10px;padding-right:10px}
.small-centered{float:none;margin-left:auto;margin-right:auto}
.small-uncentered,.small-push-0,.small-pull-0{position:static;margin-left:0;margin-right:0;float:left}
.bp480-1 {
  width: 8.3333333333%; }
.bp480-push-1 {
  position: relative;
  left: 8.3333333333%; }
.bp480-pull-1 {
  position: relative;
  left: -8.3333333333%; }
.bp480-offset-0 {
  margin-left: 0%; }
.bp480-2 {
  width: 16.6666666667%; }
.bp480-push-2 {
  position: relative;
  left: 16.6666666667%; }
.bp480-pull-2 {
  position: relative;
  left: -16.6666666667%; }
.bp480-offset-1 {
  margin-left: 8.3333333333%; }
.bp480-3 {
  width: 25%; }
.bp480-push-3 {
  position: relative;
  left: 25%; }
.bp480-pull-3 {
  position: relative;
  left: -25%; }
.bp480-offset-2 {
  margin-left: 16.6666666667%; }
.bp480-4 {
  width: 33.3333333333%; }
.bp480-push-4 {
  position: relative;
  left: 33.3333333333%; }
.bp480-pull-4 {
  position: relative;
  left: -33.3333333333%; }
.bp480-offset-3 {
  margin-left: 25%; }
.bp480-5 {
  width: 41.6666666667%; }
.bp480-push-5 {
  position: relative;
  left: 41.6666666667%; }
.bp480-pull-5 {
  position: relative;
  left: -41.6666666667%; }
.bp480-offset-4 {
  margin-left: 33.3333333333%; }
.bp480-6 {
  width: 50%; }
.bp480-push-6 {
  position: relative;
  left: 50%; }
.bp480-pull-6 {
  position: relative;
  left: -50%; }
.bp480-offset-5 {
  margin-left: 41.6666666667%; }
.bp480-7 {
  width: 58.3333333333%; }
.bp480-push-7 {
  position: relative;
  left: 58.3333333333%; }
.bp480-pull-7 {
  position: relative;
  left: -58.3333333333%; }
.bp480-offset-6 {
  margin-left: 50%; }
.bp480-8 {
  width: 66.6666666667%; }
.bp480-push-8 {
  position: relative;
  left: 66.6666666667%; }
.bp480-pull-8 {
  position: relative;
  left: -66.6666666667%; }
.bp480-offset-7 {
  margin-left: 58.3333333333%; }
.bp480-9 {
  width: 75%; }
.bp480-push-9 {
  position: relative;
  left: 75%; }
.bp480-pull-9 {
  position: relative;
  left: -75%; }
.bp480-offset-8 {
  margin-left: 66.6666666667%; }
.bp480-10 {
  width: 83.3333333333%; }
.bp480-push-10 {
  position: relative;
  left: 83.3333333333%; }
.bp480-pull-10 {
  position: relative;
  left: -83.3333333333%; }
.bp480-offset-9 {
  margin-left: 75%; }
.bp480-11 {
  width: 91.6666666667%; }
.bp480-push-11 {
  position: relative;
  left: 91.6666666667%; }
.bp480-pull-11 {
  position: relative;
  left: -91.6666666667%; }
.bp480-offset-10 {
  margin-left: 83.3333333333%; }
.bp480-12 {
  width: 100%; }
.bp480-offset-11 {
  margin-left: 91.6666666667%; }
.bp480-up-1>.column,.bp480-up-1>.columns {
  width: 100%;
  float: left; }
.bp480-up-1>.column:nth-of-type(1n),.bp480-up-1>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-1>.column:nth-of-type(1n+1),.bp480-up-1>.columns:nth-of-type(1n+1) {
  clear: both; }
.bp480-up-1>.column:last-child,.bp480-up-1>.columns:last-child {
  float: left; }
.bp480-up-2>.column,.bp480-up-2>.columns {
  width: 50%;
  float: left; }
.bp480-up-2>.column:nth-of-type(1n),.bp480-up-2>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-2>.column:nth-of-type(2n+1),.bp480-up-2>.columns:nth-of-type(2n+1) {
  clear: both; }
.bp480-up-2>.column:last-child,.bp480-up-2>.columns:last-child {
  float: left; }
.bp480-up-3>.column,.bp480-up-3>.columns {
  width: 33.3333333333%;
  float: left; }
.bp480-up-3>.column:nth-of-type(1n),.bp480-up-3>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-3>.column:nth-of-type(3n+1),.bp480-up-3>.columns:nth-of-type(3n+1) {
  clear: both; }
.bp480-up-3>.column:last-child,.bp480-up-3>.columns:last-child {
  float: left; }
.bp480-up-4>.column,.bp480-up-4>.columns {
  width: 25%;
  float: left; }
.bp480-up-4>.column:nth-of-type(1n),.bp480-up-4>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-4>.column:nth-of-type(4n+1),.bp480-up-4>.columns:nth-of-type(4n+1) {
  clear: both; }
.bp480-up-4>.column:last-child,.bp480-up-4>.columns:last-child {
  float: left; }
.bp480-up-5>.column,.bp480-up-5>.columns {
  width: 20%;
  float: left; }
.bp480-up-5>.column:nth-of-type(1n),.bp480-up-5>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-5>.column:nth-of-type(5n+1),.bp480-up-5>.columns:nth-of-type(5n+1) {
  clear: both; }
.bp480-up-5>.column:last-child,.bp480-up-5>.columns:last-child {
  float: left; }
.bp480-up-6>.column,.bp480-up-6>.columns {
  width: 16.6666666667%;
  float: left; }
.bp480-up-6>.column:nth-of-type(1n),.bp480-up-6>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-6>.column:nth-of-type(6n+1),.bp480-up-6>.columns:nth-of-type(6n+1) {
  clear: both; }
.bp480-up-6>.column:last-child,.bp480-up-6>.columns:last-child {
  float: left; }
.bp480-up-7>.column,.bp480-up-7>.columns {
  width: 14.2857142857%;
  float: left; }
.bp480-up-7>.column:nth-of-type(1n),.bp480-up-7>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-7>.column:nth-of-type(7n+1),.bp480-up-7>.columns:nth-of-type(7n+1) {
  clear: both; }
.bp480-up-7>.column:last-child,.bp480-up-7>.columns:last-child {
  float: left; }
.bp480-up-8>.column,.bp480-up-8>.columns {
  width: 12.5%;
  float: left; }
.bp480-up-8>.column:nth-of-type(1n),.bp480-up-8>.columns:nth-of-type(1n) {
  clear: none; }
.bp480-up-8>.column:nth-of-type(8n+1),.bp480-up-8>.columns:nth-of-type(8n+1) {
  clear: both; }
.bp480-up-8>.column:last-child,.bp480-up-8>.columns:last-child {
  float: left; }
.bp480-collapse>.column,.bp480-collapse>.columns {
  padding-left: 0;
  padding-right: 0; }
.bp480-collapse .row {
  margin-left: 0;
  margin-right: 0; }
.bp480-uncollapse>.column,.bp480-uncollapse>.columns {
  padding-left: 10px;
  padding-right: 10px; }
.bp480-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }
.bp480-uncentered,.bp480-push-0,.bp480-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left; }
.medium-1 {
  width: 8.3333333333%; }
.medium-push-1 {
  position: relative;
  left: 8.3333333333%; }
.medium-pull-1 {
  position: relative;
  left: -8.3333333333%; }
.medium-offset-0 {
  margin-left: 0%; }
.medium-2 {
  width: 16.6666666667%; }
.medium-push-2 {
  position: relative;
  left: 16.6666666667%; }
.medium-pull-2 {
  position: relative;
  left: -16.6666666667%; }
.medium-offset-1 {
  margin-left: 8.3333333333%; }
.medium-3 {
  width: 25%; }
.medium-push-3 {
  position: relative;
  left: 25%; }
.medium-pull-3 {
  position: relative;
  left: -25%; }
.medium-offset-2 {
  margin-left: 16.6666666667%; }
.medium-4 {
  width: 33.3333333333%; }
.medium-push-4 {
  position: relative;
  left: 33.3333333333%; }
.medium-pull-4 {
  position: relative;
  left: -33.3333333333%; }
.medium-offset-3 {
  margin-left: 25%; }
.medium-5 {
  width: 41.6666666667%; }
.medium-push-5 {
  position: relative;
  left: 41.6666666667%; }
.medium-pull-5 {
  position: relative;
  left: -41.6666666667%; }
.medium-offset-4 {
  margin-left: 33.3333333333%; }
.medium-6 {
  width: 50%; }
.medium-push-6 {
  position: relative;
  left: 50%; }
.medium-pull-6 {
  position: relative;
  left: -50%; }
.medium-offset-5 {
  margin-left: 41.6666666667%; }
.medium-7 {
  width: 58.3333333333%; }
.medium-push-7 {
  position: relative;
  left: 58.3333333333%; }
.medium-pull-7 {
  position: relative;
  left: -58.3333333333%; }
.medium-offset-6 {
  margin-left: 50%; }
.medium-8 {
  width: 66.6666666667%; }
.medium-push-8 {
  position: relative;
  left: 66.6666666667%; }
.medium-pull-8 {
  position: relative;
  left: -66.6666666667%; }
.medium-offset-7 {
  margin-left: 58.3333333333%; }
.medium-9 {
  width: 75%; }
.medium-push-9 {
  position: relative;
  left: 75%; }
.medium-pull-9 {
  position: relative;
  left: -75%; }
.medium-offset-8 {
  margin-left: 66.6666666667%; }
.medium-10 {
  width: 83.3333333333%; }
.medium-push-10 {
  position: relative;
  left: 83.3333333333%; }
.medium-pull-10 {
  position: relative;
  left: -83.3333333333%; }
.medium-offset-9 {
  margin-left: 75%; }
.medium-11 {
  width: 91.6666666667%; }
.medium-push-11 {
  position: relative;
  left: 91.6666666667%; }
.medium-pull-11 {
  position: relative;
  left: -91.6666666667%; }
.medium-offset-10 {
  margin-left: 83.3333333333%; }
.medium-12 {
  width: 100%; }
.medium-offset-11 {
  margin-left: 91.6666666667%; }
.medium-up-1>.column,.medium-up-1>.columns {
  width: 100%;
  float: left; }
.medium-up-1>.column:nth-of-type(1n),.medium-up-1>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-1>.column:nth-of-type(1n+1),.medium-up-1>.columns:nth-of-type(1n+1) {
  clear: both; }
.medium-up-1>.column:last-child,.medium-up-1>.columns:last-child {
  float: left; }
.medium-up-2>.column,.medium-up-2>.columns {
  width: 50%;
  float: left; }
.medium-up-2>.column:nth-of-type(1n),.medium-up-2>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-2>.column:nth-of-type(2n+1),.medium-up-2>.columns:nth-of-type(2n+1) {
  clear: both; }
.medium-up-2>.column:last-child,.medium-up-2>.columns:last-child {
  float: left; }
.medium-up-3>.column,.medium-up-3>.columns {
  width: 33.3333333333%;
  float: left; }
.medium-up-3>.column:nth-of-type(1n),.medium-up-3>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-3>.column:nth-of-type(3n+1),.medium-up-3>.columns:nth-of-type(3n+1) {
  clear: both; }
.medium-up-3>.column:last-child,.medium-up-3>.columns:last-child {
  float: left; }
.medium-up-4>.column,.medium-up-4>.columns {
  width: 25%;
  float: left; }
.medium-up-4>.column:nth-of-type(1n),.medium-up-4>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-4>.column:nth-of-type(4n+1),.medium-up-4>.columns:nth-of-type(4n+1) {
  clear: both; }
.medium-up-4>.column:last-child,.medium-up-4>.columns:last-child {
  float: left; }
.medium-up-5>.column,.medium-up-5>.columns {
  width: 20%;
  float: left; }
.medium-up-5>.column:nth-of-type(1n),.medium-up-5>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-5>.column:nth-of-type(5n+1),.medium-up-5>.columns:nth-of-type(5n+1) {
  clear: both; }
.medium-up-5>.column:last-child,.medium-up-5>.columns:last-child {
  float: left; }
.medium-up-6>.column,.medium-up-6>.columns {
  width: 16.6666666667%;
  float: left; }
.medium-up-6>.column:nth-of-type(1n),.medium-up-6>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-6>.column:nth-of-type(6n+1),.medium-up-6>.columns:nth-of-type(6n+1) {
  clear: both; }
.medium-up-6>.column:last-child,.medium-up-6>.columns:last-child {
  float: left; }
.medium-up-7>.column,.medium-up-7>.columns {
  width: 14.2857142857%;
  float: left; }
.medium-up-7>.column:nth-of-type(1n),.medium-up-7>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-7>.column:nth-of-type(7n+1),.medium-up-7>.columns:nth-of-type(7n+1) {
  clear: both; }
.medium-up-7>.column:last-child,.medium-up-7>.columns:last-child {
  float: left; }
.medium-up-8>.column,.medium-up-8>.columns {
  width: 12.5%;
  float: left; }
.medium-up-8>.column:nth-of-type(1n),.medium-up-8>.columns:nth-of-type(1n) {
  clear: none; }
.medium-up-8>.column:nth-of-type(8n+1),.medium-up-8>.columns:nth-of-type(8n+1) {
  clear: both; }
.medium-up-8>.column:last-child,.medium-up-8>.columns:last-child {
  float: left; }
.medium-collapse>.column,.medium-collapse>.columns {
  padding-left: 0;
  padding-right: 0; }
.medium-collapse .row {
  margin-left: 0;
  margin-right: 0; }
.medium-uncollapse>.column,.medium-uncollapse>.columns {
  padding-left: 15px;
  padding-right: 15px; }
.medium-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }
.medium-uncentered,.medium-push-0,.medium-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left; }
.large-1 {
  width: 8.3333333333%; }
.large-push-1 {
  position: relative;
  left: 8.3333333333%; }
.large-pull-1 {
  position: relative;
  left: -8.3333333333%; }
.large-offset-0 {
  margin-left: 0%; }
.large-2 {
  width: 16.6666666667%; }
.large-push-2 {
  position: relative;
  left: 16.6666666667%; }
.large-pull-2 {
  position: relative;
  left: -16.6666666667%; }
.large-offset-1 {
  margin-left: 8.3333333333%; }
.large-3 {
  width: 25%; }
.large-push-3 {
  position: relative;
  left: 25%; }
.large-pull-3 {
  position: relative;
  left: -25%; }
.large-offset-2 {
  margin-left: 16.6666666667%; }
.large-4 {
  width: 33.3333333333%; }
.large-push-4 {
  position: relative;
  left: 33.3333333333%; }
.large-pull-4 {
  position: relative;
  left: -33.3333333333%; }
.large-offset-3 {
  margin-left: 25%; }
.large-5 {
  width: 41.6666666667%; }
.large-push-5 {
  position: relative;
  left: 41.6666666667%; }
.large-pull-5 {
  position: relative;
  left: -41.6666666667%; }
.large-offset-4 {
  margin-left: 33.3333333333%; }
.large-6 {
  width: 50%; }
.large-push-6 {
  position: relative;
  left: 50%; }
.large-pull-6 {
  position: relative;
  left: -50%; }
.large-offset-5 {
  margin-left: 41.6666666667%; }
.large-7 {
  width: 58.3333333333%; }
.large-push-7 {
  position: relative;
  left: 58.3333333333%; }
.large-pull-7 {
  position: relative;
  left: -58.3333333333%; }
.large-offset-6 {
  margin-left: 50%; }
.large-8 {
  width: 66.6666666667%; }
.large-push-8 {
  position: relative;
  left: 66.6666666667%; }
.large-pull-8 {
  position: relative;
  left: -66.6666666667%; }
.large-offset-7 {
  margin-left: 58.3333333333%; }
.large-9 {
  width: 75%; }
.large-push-9 {
  position: relative;
  left: 75%; }
.large-pull-9 {
  position: relative;
  left: -75%; }
.large-offset-8 {
  margin-left: 66.6666666667%; }
.large-10 {
  width: 83.3333333333%; }
.large-push-10 {
  position: relative;
  left: 83.3333333333%; }
.large-pull-10 {
  position: relative;
  left: -83.3333333333%; }
.large-offset-9 {
  margin-left: 75%; }
.large-11 {
  width: 91.6666666667%; }
.large-push-11 {
  position: relative;
  left: 91.6666666667%; }
.large-pull-11 {
  position: relative;
  left: -91.6666666667%; }
.large-offset-10 {
  margin-left: 83.3333333333%; }
.large-12 {
  width: 100%; }
.large-offset-11 {
  margin-left: 91.6666666667%; }
.large-up-1>.column,.large-up-1>.columns {
  width: 100%;
  float: left; }
.large-up-1>.column:nth-of-type(1n),.large-up-1>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-1>.column:nth-of-type(1n+1),.large-up-1>.columns:nth-of-type(1n+1) {
  clear: both; }
.large-up-1>.column:last-child,.large-up-1>.columns:last-child {
  float: left; }
.large-up-2>.column,.large-up-2>.columns {
  width: 50%;
  float: left; }
.large-up-2>.column:nth-of-type(1n),.large-up-2>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-2>.column:nth-of-type(2n+1),.large-up-2>.columns:nth-of-type(2n+1) {
  clear: both; }
.large-up-2>.column:last-child,.large-up-2>.columns:last-child {
  float: left; }
.large-up-3>.column,.large-up-3>.columns {
  width: 33.3333333333%;
  float: left; }
.large-up-3>.column:nth-of-type(1n),.large-up-3>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-3>.column:nth-of-type(3n+1),.large-up-3>.columns:nth-of-type(3n+1) {
  clear: both; }
.large-up-3>.column:last-child,.large-up-3>.columns:last-child {
  float: left; }
.large-up-4>.column,.large-up-4>.columns {
  width: 25%;
  float: left; }
.large-up-4>.column:nth-of-type(1n),.large-up-4>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-4>.column:nth-of-type(4n+1),.large-up-4>.columns:nth-of-type(4n+1) {
  clear: both; }
.large-up-4>.column:last-child,.large-up-4>.columns:last-child {
  float: left; }
.large-up-5>.column,.large-up-5>.columns {
  width: 20%;
  float: left; }
.large-up-5>.column:nth-of-type(1n),.large-up-5>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-5>.column:nth-of-type(5n+1),.large-up-5>.columns:nth-of-type(5n+1) {
  clear: both; }
.large-up-5>.column:last-child,.large-up-5>.columns:last-child {
  float: left; }
.large-up-6>.column,.large-up-6>.columns {
  width: 16.6666666667%;
  float: left; }
.large-up-6>.column:nth-of-type(1n),.large-up-6>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-6>.column:nth-of-type(6n+1),.large-up-6>.columns:nth-of-type(6n+1) {
  clear: both; }
.large-up-6>.column:last-child,.large-up-6>.columns:last-child {
  float: left; }
.large-up-7>.column,.large-up-7>.columns {
  width: 14.2857142857%;
  float: left; }
.large-up-7>.column:nth-of-type(1n),.large-up-7>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-7>.column:nth-of-type(7n+1),.large-up-7>.columns:nth-of-type(7n+1) {
  clear: both; }
.large-up-7>.column:last-child,.large-up-7>.columns:last-child {
  float: left; }
.large-up-8>.column,.large-up-8>.columns {
  width: 12.5%;
  float: left; }
.large-up-8>.column:nth-of-type(1n),.large-up-8>.columns:nth-of-type(1n) {
  clear: none; }
.large-up-8>.column:nth-of-type(8n+1),.large-up-8>.columns:nth-of-type(8n+1) {
  clear: both; }
.large-up-8>.column:last-child,.large-up-8>.columns:last-child {
  float: left; }
.large-collapse>.column,.large-collapse>.columns {
  padding-left: 0;
  padding-right: 0; }
.large-collapse .row {
  margin-left: 0;
  margin-right: 0; }
.large-uncollapse>.column,.large-uncollapse>.columns {
  padding-left: 15px;
  padding-right: 15px; }
.large-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }
.large-uncentered,.large-push-0,.large-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td{margin:0;padding:0}
p{font-size:inherit;line-height:1.6;margin-bottom:16px;text-rendering:optimizeLegibility}
em,i{font-style:italic;line-height:inherit}
strong,b{font-weight:bold;line-height:inherit}
small{font-size:80%;line-height:inherit}
h1,h2,h3,h4,h5,h6{font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:normal;font-style:normal;color:inherit;text-rendering:optimizeLegibility;margin-top:0;margin-bottom:8px;line-height:1.4}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#cacaca;line-height:0}
h1{font-size:24px}
h2{font-size:20px}
h3{font-size:19px}
h4{font-size:18px}
h5{font-size:17px}
h6{font-size:16px}
h1 {
  font-size: 48px; }
h2 {
  font-size: 40px; }
h3 {
  font-size: 31px; }
h4 {
  font-size: 25px; }
h5 {
  font-size: 20px; }
h6 {
  font-size: 16px; }
a{color:#2199e8;text-decoration:none;line-height:inherit;cursor:pointer}
a:hover,a:focus{color:#1585cf}
a img{border:0}
hr{max-width:1366px;height:0;border-right:0;border-top:0;border-bottom:1px solid #cacaca;border-left:0;margin:20px auto;clear:both}
ul,ol,dl{line-height:1.6;margin-bottom:16px;list-style-position:outside}
li{font-size:inherit}
ul{list-style-type:disc;margin-left:20px}
ol{margin-left:20px}
ul ul,ol ul,ul ol,ol ol{margin-left:20px;margin-bottom:0}
dl{margin-bottom:16px}
dl dt{margin-bottom:4.8px;font-weight:bold}
blockquote{margin:0 0 16px;padding:9px 20px 0 19px;border-left:1px solid #cacaca}
blockquote,blockquote p{line-height:1.6;color:#8a8a8a}
cite{display:block;font-size:13px;color:#8a8a8a}
cite:before{content:'\2014 \0020'}
abbr{color:#0a0a0a;cursor:help;border-bottom:1px dotted #0a0a0a}
code{font-family:Consolas,"Liberation Mono",Courier,monospace;font-weight:normal;color:#0a0a0a;background-color:#e6e6e6;border:1px solid #cacaca;padding:2px 5px 1px}
kbd{padding:2px 4px 0;margin:0;background-color:#e6e6e6;color:#0a0a0a;font-family:Consolas,"Liberation Mono",Courier,monospace}
.subheader{margin-top:3.2px;margin-bottom:8px;font-weight:normal;line-height:1.4;color:#8a8a8a}
.lead{font-size:125%;line-height:1.6}
.stat{font-size:40px;line-height:1}
p+.stat{margin-top:-16px}
.no-bullet{margin-left:0;list-style:none}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-justify{text-align:justify}
.bp480-text-left {
  text-align: left; }
.bp480-text-right {
  text-align: right; }
.bp480-text-center {
  text-align: center; }
.bp480-text-justify {
  text-align: justify; }
.medium-text-left {
  text-align: left; }
.medium-text-right {
  text-align: right; }
.medium-text-center {
  text-align: center; }
.medium-text-justify {
  text-align: justify; }
.large-text-left {
  text-align: left; }
.large-text-right {
  text-align: right; }
.large-text-center {
  text-align: center; }
.large-text-justify {
  text-align: justify; }
.show-for-print{display:none !important}
.button{display:inline-block;text-align:center;line-height:1;cursor:pointer;-webkit-appearance:none;-webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;transition:background-color 0.25s ease-out, color 0.25s ease-out;vertical-align:middle;border:1px solid transparent;border-radius:0;padding:0.85em 1em;margin:0 0 16px 0;font-size:14.4px;background-color:#2199e8;color:#fefefe}
[data-whatinput='mouse'] .button{outline:0}
.button:hover,.button:focus{background-color:#1583cc;color:#fefefe}
.button.tiny{font-size:9.6px}
.button.small{font-size:12px}
.button.large{font-size:20px}
.button.expanded{display:block;width:100%;margin-left:0;margin-right:0}
.button.primary{background-color:#2199e8;color:#fefefe}
.button.primary:hover,.button.primary:focus{background-color:#147cc0;color:#fefefe}
.button.secondary{background-color:#777;color:#fefefe}
.button.secondary:hover,.button.secondary:focus{background-color:#5f5f5f;color:#fefefe}
.button.success{background-color:#3adb76;color:#fefefe}
.button.success:hover,.button.success:focus{background-color:#22bb5b;color:#fefefe}
.button.warning{background-color:#ffae00;color:#fefefe}
.button.warning:hover,.button.warning:focus{background-color:#cc8b00;color:#fefefe}
.button.alert{background-color:#ec5840;color:#fefefe}
.button.alert:hover,.button.alert:focus{background-color:#da3116;color:#fefefe}
.button.hollow{border:1px solid #2199e8;color:#2199e8}
.button.hollow,.button.hollow:hover,.button.hollow:focus{background-color:transparent}
.button.hollow:hover,.button.hollow:focus{border-color:#0c4d78;color:#0c4d78}
.button.hollow.primary{border:1px solid #2199e8;color:#2199e8}
.button.hollow.primary:hover,.button.hollow.primary:focus{border-color:#0c4d78;color:#0c4d78}
.button.hollow.secondary{border:1px solid #777;color:#777}
.button.hollow.secondary:hover,.button.hollow.secondary:focus{border-color:#3c3c3c;color:#3c3c3c}
.button.hollow.success{border:1px solid #3adb76;color:#3adb76}
.button.hollow.success:hover,.button.hollow.success:focus{border-color:#157539;color:#157539}
.button.hollow.warning{border:1px solid #ffae00;color:#ffae00}
.button.hollow.warning:hover,.button.hollow.warning:focus{border-color:#805700;color:#805700}
.button.hollow.alert{border:1px solid #ec5840;color:#ec5840}
.button.hollow.alert:hover,.button.hollow.alert:focus{border-color:#881f0e;color:#881f0e}
.button.disabled,.button[disabled]{filter: alpha(opacity=25);cursor:not-allowed;pointer-events:none}
.button.dropdown:after{content:'';display:block;width:0;height:0;border:inset 0.4em;border-color:#fefefe transparent transparent;border-top-style:solid;border-bottom-width:0;position:relative;top:0.4em;float:right;margin-left:1em;display:inline-block}
.button.arrow-only:after{margin-left:0;float:none;top:-0.1em}
@font-face{font-family:"icons";src:url("../fonts/icons.eot");src:url("../fonts/icons.eot?#iefix") format("eot"),url("../fonts/icons.woff") format("woff"),url("../fonts/icons.ttf") format("truetype"),url("../fonts/icons.svg#icons") format("svg");font-weight:normal;font-style:normal}
[class^="v-icon-"],[class*=" v-icon-"],.v-icon{font-family:'icons' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.v-icon-lg{font-size:1.33333333em;line-height:0.75em;vertical-align:-15%}
.v-icon-2x{font-size:2em}
.v-icon-3x{font-size:3em}
.v-icon-4x{font-size:4em}
.v-icon-5x{font-size:5em}
.v-icon-fw{width:1.28571429em;text-align:center}
.v-icon-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}
.v-icon-ul>li{position:relative}
.v-icon-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:0.14285714em;text-align:center}
.v-icon-li.v-icon-lg{left:-1.85714286em}
.v-icon-border{padding:.2em .25em .15em;border:solid 0.08em #eeeeee;border-radius:.1em}
.v-icon-pull-left{float:left}
.v-icon-pull-right{float:right}
.v-icon.v-icon-pull-left{margin-right:.3em}
.v-icon.v-icon-pull-right{margin-left:.3em}
.v-icon-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
.v-icon-stack-1x,.v-icon-stack-2x{position:absolute;left:0;width:100%;text-align:center}
.v-icon-stack-1x{line-height:inherit}
.v-icon-stack-2x{font-size:2em}
.v-icon-inverse{color:#ffffff}
.v-icon-chevron-down:before{content:""}
.v-icon-chevron-left:before{content:""}
.v-icon-chevron-right:before{content:""}
.v-icon-chevron-up:before{content:""}
.v-icon-facebook-official:before{content:""}
.v-icon-facebook:before{content:""}
.v-icon-instagram:before{content:""}
.v-icon-linkedin-square:before{content:""}
.v-icon-linkedin:before{content:""}
.v-icon-search:before{content:""}
.v-icon-tumblr:before{content:""}
.v-icon-twitter:before{content:""}
.v-icon-youtube-square:before{content:""}
.v-icon-youtube:before{content:""}
.v-icon-youtube2:before{content:""}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
html{font-size:100%;line-height:1.5}
body{font-family:Arial, sans-serif;color:#333333;background-color:#ffffff}
footer{background:#2e2e2e}
.col-640-70p{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.col-640-70p {
  float: left;
  width: 70%; }
.container:before,.container:after{content:' ';display:table;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.container:after{clear:both}
.footer{color:#fff;padding-bottom:50px}
.footer:before,.footer:after{content:' ';display:table;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.footer:after{clear:both}
.header__top{padding:24px 16px}
.header__top:before,.header__top:after{content:' ';display:table;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.header__top:after{clear:both}
.header__logo{float:left}
.header__logo-divider{padding-left:20px;padding-right:20px}
.header__tag{color:#4c575a;float:left}
.header__tag-top{font-family:'Open Sans', sans-serif;font-weight:600;font-size:16px;display:block}
.header__tag-bottom{font-family:'Slabo 27px', sans-serif;font-size:30px;display:block;line-height:1;font-weight:400}
.header__resource-link{color:#4c575a;float:left}
.header__resource-link:before,.header__resource-link:after{content:' ';display:table;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.header__resource-link:after{clear:both}
.header__resource-link-top{font-family:'Open Sans', sans-serif;font-weight:600;font-size:16px;display:block}
.header__resource-link-bottom{font-family:'Slabo 27px', sans-serif;font-size:38px;display:block;line-height:1}
.header__resource-link-bottom--employers{color:#5c932a}
.header__resource-link-bottom--employees{color:#0078c2}
.header__resource-link+.header__resource-link{margin-left:20px}
.row--no-gutters{margin-right:0;margin-left:0}
.row--no-gutters>[class^="col-"],.row--no-gutters>[class*=" col-"]{padding-right:0;padding-left:0}
.secondary-menu{font-family:'Open Sans', sans-serif;font-weight:600;font-size:12px;background-color:#232c2e}
.secondary-menu ul{margin:0;padding:0;list-style:none}
.secondary-menu ul:before,.secondary-menu ul:after{content:' ';display:table;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.secondary-menu ul:after{clear:both}
.secondary-menu ul li{float:left}
.secondary-menu a{color:#fff;line-height:24px;padding-left:14px;padding-right:14px;display:block}
.splitted-image{background-color:#fff}
.splitted-image__item{border-right:2px solid #fff;border-bottom:2px solid #fff}
.splitted-image__ar-wrapper{position:relative}
.splitted-image__ar-wrapper--fake-border-hide{position:absolute;width:100%;bottom:0;height:2px;background:#fff}
.bgcolor-employees{background-color:#0078c2 !important}
.bgcolor-employers{background-color:#5c932a !important}
.text-employers-light{color:#6d9e40 !important}
.text-employers{color:#5c932a !important}
.text-employers-dark{color:#4f7f25 !important}
.text-employees-light{color:#1a86c8 !important}
.text-employees{color:#0078c2 !important}
.text-employees-dark{color:#0068a9 !important}
.text-black{color:#232c2e !important}
.text-blue{color:#005688 !important}
.text-light-blue{color:#57cdff !important}
.text-dark-grey{color:#4c575a !important}
.text-grey{color:#a5abac !important}
.text-light-grey{color:#dbddde !important}
