.slick{
	&-prev, &-next{
		&:before{
			content: '';
			display: block;
			width: 10px;
			height: 17px;
		}
	}
	
	&-prev{
		&:before{
			@include m-sprite(slider-left);
		}
	}

	&-next{
		&:before{
			@include m-sprite(slider-right);
		}
	}
}