extends ./layouts/_global.jade

block header
	include ./partials/_header.jade

block content
	.carousel
	.container
		.row.menu-info
			.col-xs-12.col-sm-2.menu-info__items
				.menu-info__items--verMid.menu-info__items__item1
					select
						option Contraception
						option XXXXXXXX
						option XXXXXXXX
						option XXXXXXXX
			.col-xs-12.col-sm-4.menu-info__items
				.menu-info__items--verMid.menu-info__items__item2
					p Now Reading:
					p The pill and blood clots
			.col-xs-12.col-sm-4.menu-info__items
				.menu-info__items--verMid.menu-info__items__item3
					a(href="#")
						i.icon.icon-facebook
					a(href="#")
						i.icon.icon-twitter
					a(href="#")
						i.icon.icon-forward
			.col-xs-12.col-sm-2.menu-info__items
				.menu-info__items--verMid.menu-info__items__item4
					i.icon.icon-search

		.row
			.col-xs-12.col-sm-8
				.col-xs-12
					h1 THE PILL AND BLOOD CLOTS
					P Reviewed: May 2013|FPNSW 05/13
					h2 Introduction
					p The combined oral contraceptive pill (the Pill) and the vaginal ring contain two different hormones: oestrogen and progestogen. There are many Pill types available in Australia which contain different combinations of oestrogen and progestogen hormones. All of the Pill brands, and the vaginal ring, have been assessed for safety by the Australian regulatory body (the Therapeutic Goods Administration or TGA).
					p Serious health problems caused by the Pill or vaginal ring are rare and as with all medications, the risks need to be balanced against the benefits. The Pill and the vaginal ring have other health benefits as well as being effective forms of contraception. Periods are usually less painful, bleeding is lighter and more regular, and there may be fewer symptoms of premenstrual syndrome (PMS). Acne may also improve. There is less chance of cancer of the ovary and cancer of the endometrium (lining of the uterus).
					p The most dangerous risk of the Pill and the vaginal ring is a blood clot in the veins, usually in the legs or lungs, known as deep vein thrombosis (DVT) or venous thromboembolism (VTE). Warning signs are severe sudden chest pain, shortness of breath, severe pain or swelling in one leg, sudden blurred vision or loss of sight, or sudden severe headache. If you have any of these symptoms contact your doctor or go to your nearest Emergency Department immediately.
					p It is important to put the risk of blood clots into context. The chart below shows the risk of VTE for women using the Pill or vaginal ring compared women who are not using these contraceptives, as well as women who are either pregnant or have just had a baby.
					p Risk of venous thromboembolism (VTE) for women using the Pill or vaginal ring, for women who are not using the Pill or vaginal ring and for women who are pregnant.

				.col-xs-4
					p Download as a PDF Factsheet
					p This factsheet is for women using the Pill or vaginal ring (NuvaRing) who have concerns about blood clots (venous thromboembolism).eet
				.col-xs-8
					p Get this fact sheet in a different language
					select
						option Chhose your language
						option XXXXXXXX
						option XXXXXXXX
						option XXXXXXXX

				.col-xs-12
					Span Share this page:
					i.icon.icon-facebook
					i.icon.icon-twitter
					i.icon.icon-forward
				
				.col-xs-12
					.col-xs-12
						h2 Related publications from our bookshop

					.col-xs-9
						.col-xs-6
							.col-xs-6
								img(src="/assets/img/book_1.jpg") 
							.col-xs-6
								img(src="/assets/img/book_2.jpg") 
						.col-xs-6
							.col-xs-6
								img(src="/assets/img/book_3.jpg") 
							.col-xs-6
								img(src="/assets/img/book_4.jpg") 
					.col-xs-3
						p Go to bookshop
						i.icon.icon-arrow-right


			.col-xs-12.col-sm-4
				.col-xs-12
					h1 Find health information
					input(type="search", placeholder="Search")
					input(type="submit" value="")

				.col-xs-12
					h1 Book an appointment
					select
						option Choose your nearest clinic
						option XXXXXXXX
						option XXXXXXXX
						option XXXXXXXX

				.col-xs-12
					h1 Book an course
					select
						option Choose a course
						option XXXXXXXX
						option XXXXXXXX
						option XXXXXXXX

				.col-xs-12
					h1 Related fact sheets
					ul
						li Combined oral contraceptive pill
						li Progestogen-Only Pill (POP)
						li Emergency contraceptive pill (ECP)
						li Getting pregnant after stopping the Pill
						li Antibiotics & the Pill
					.col-xs-12
						span Find out more information
						i.icon.icon-arrow-right
				
				.col-xs-12
					h1 Related research
					h2 Weisberg E, Merki-Feld GS, McGeechan K, Fraser IS.
					p Randomized comparison of bleeding patterns in women using a combined contraceptive vaginal ring or a low-dose combined oral contraceptive on a menstrually signaled regimen. Contraception 2015; 91(2): 121-6
					.col-xs-12
						span Find out more research
						i.icon.icon-arrow-right
				
				.col-xs-12
					h1 BODY TALK
					h2 What's going on down there?
					p Explore the human body and reproductive systems in our new interactive tool
					p Launch Body Explorer

block footer
	include ./partials/_footer.jade