extends _layouts/global

block header
	include _partials/header
block content
	.row
		.hero
	.row
		.main-links.main-links--employers
		.main-links.main-links--employees
	.row.main-info
	section.row.main-section.main-subhero
	section.row.main-section.main-faq
		.small-12.columns
			h1.main-section__title Frequently asked Questions
		.large-6.columns
			.main-faq__top
				h2.main-faq__title Job seekers
				a.main-faq__see-all(href="#") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#") What should I ask a prospective employee at an interview?
				li.main-faq__list-item
					a(href="#") How do I create a position description?
				li.main-faq__list-item
					a(href="#") What should I write in a job advertisement?
		.large-6.columns
			.main-faq__top
				h2.main-faq__title Recruitments
				a.main-faq__see-all(href="#") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#") What should I write in a job advertisement?
				li.main-faq__list-item
					a(href="#") Are employees legally required to wear helmet?
				li.main-faq__list-item
					a(href="#") Sharefarmer or employee?
		.large-6.columns
			.main-faq__top
				h2.main-faq__title Farm policies and systems
				a.main-faq__see-all(href="#") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#") What should I ask a prospective employee at an interview?
				li.main-faq__list-item
					a(href="#") How do I create a position description?
				li.main-faq__list-item
					a(href="#") What should I write in a job advertisement?
		.large-6.columns
			.main-faq__top
				h2.main-faq__title Engagement and Reward
				a.main-faq__see-all(href="#") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#") What should I write in a job advertisement?
				li.main-faq__list-item
					a(href="#") Are employees legally required to wear helmet?
				li.main-faq__list-item
					a(href="#") Sharefarmer or employee?
	section.row.main-section.main-stories
		.small-12.columns
			h1.main-section__title Real stories
		.large-3.columns.main-story
			.main-story__image
			.main-story__text
				h2.main-story__title Fusce dapibus, tellus ac cursus commodos
				p.main-story__desc Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel ... laoreet rutrum faucibus dolor
			.main-story__readmore
				a.btn Read more
		.large-3.columns.main-story
			.main-story__image
			.main-story__text
				h2.main-story__title Cursus Mattis Sem
				p.main-story__desc Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
			.main-story__readmore
				a.btn Read more
		.large-3.columns.main-story
			.main-story__image
			.main-story__text
				h2.main-story__title Fermentum Amet Adipiscing Sem
				p.main-story__desc Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. ....
			.main-story__readmore
				a.btn Read more
		.large-3.columns.main-story
			.main-story__image
			.main-story__text
				h2.main-story__title Inceptos Porta Pharetra Purus Dapibus
				p.main-story__desc Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Nulla vitae elit
			.main-story__readmore
				a.btn Read more

block footer
	include _partials/footer