extends _layouts/global

block header
	include _partials/header
block content
	.row
		.small-2.xxlarge-4.columns small2 large4
		.small-2.xxlarge-4.columns small2 large4
		.small-6.xxlarge-4.columns small6 large4

block footer
	include _partials/footer