extends _layouts/global

block header
	include _partials/header
block content
	.container
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, autem ut magnam assumenda beatae praesentium, iusto explicabo nesciunt ad inventore ratione repellat! Vero odit et ad ea placeat, quam saepe!			

block footer
	include _partials/footer