extends _layouts/global

block header
	include _partials/header
block content
	.row.main-focus
		.small-12.columns
			.row
				.small-12.colummns
					.main-hero
						img(src="assets/img/hero.jpg", alt="Hero")
			.row.main-focus__sub.small-collapse
				.medium-6.columns
					.main-links.main-links--employers
						.row.collapse
							.large-4.columns
								h1.main-links__title
									span.main-links__title__text
										span.main-links__title__small Resources for
										| Employers
							.large-8.columns.main-links__link-box.main-links__link-box--employers
								ul.main-links__list
									each item in site.data.mainlinks.employers
										li.main-links__list-item
											a(href=item.href, title=item.title)=item.title
								.main-links__icon

				.medium-6.columns
					.main-links.main-links--employees
						.row.collapse
							.large-4.columns
								h1.main-links__title
									span.main-links__title__text
										span.main-links__title__small Resources for
										| Employees
							.large-8.columns.main-links__link-box.main-links__link-box--employees
								ul.main-links__list
									each item in site.data.mainlinks.employees
										li.main-links__list-item
											a(href=item.href, title=item.title)=item.title
								.main-links__icon
		
	.row.main-section.main-secondary
		.large-3.columns.text-center.main-secondary__column(data-mh="main-secondary")
			.main-secondary__sponsor-text
				small Proudly supported by
			img(src="assets/img/sponsor.jpg")
		.medium-4.large-3.columns.main-secondary__column(data-mh="main-secondary")
			.main-secondary__item
				.main-secondary__icon
					i.v-icon.v-icon-calendar
				.main-secondary__text
					p <a href="#">Find dairy industry events in your area</a> with this new calendar featuring events from a range of organisations.
		.medium-4.large-3.columns.main-secondary__column(data-mh="main-secondary")
			.main-secondary__item
				.main-secondary__icon
					i.v-icon.v-icon-woman
				.main-secondary__text
					p DairyNZ consulting officers work in the field with farmers to help them become more successful. <a href="#">Find contact details for your local consulting officer here.</a>
		.medium-4.large-3.columns.main-secondary__column(data-mh="main-secondary")
			.main-secondary__item
				.main-secondary__icon
					i.v-icon.v-icon-daylight
				.main-secondary__text
					p An El Nino summer is predicted. <a href="#">Are you prepared?</a>
	section.row.main-section.main-subhero.collapse
		.small-12.columns
			img(src="assets/img/journey.jpg", alt="Explore the journey")
			a.main-subhero__link(href="#") 
				span.main-subhero__link__text Explore the journey

	section.row.main-section.main-faq
		.small-12.columns
			h1.main-section__title Frequently asked Questions
		.large-push-1.large-5.columns
			.main-faq__top
				h2.main-faq__title Job seekers
				a.main-faq__see-all.btn.btn--with-right-arrow(href="#", title="See all") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question What should I ask a prospective employee at an interview?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question How do I create a position description?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question What should I write in a job advertisement?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
		.large-push-1.large-5.columns
			.main-faq__top
				h2.main-faq__title Recruitments
				a.main-faq__see-all.btn.btn--with-right-arrow(href="#", title="See all") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question What should I write in a job advertisement?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question Are employees legally required to wear helmet?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question Sharefarmer or employee?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
		.large-push-1.large-5.columns
			.main-faq__top
				h2.main-faq__title Farm policies and systems
				a.main-faq__see-all.btn.btn--with-right-arrow(href="#", title="See all") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question What should I ask a prospective employee at an interview?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question How do I create a position description?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question What should I write in a job advertisement?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
		.large-pull-1.large-5.columns
			.main-faq__top
				h2.main-faq__title Engagement and Reward
				a.main-faq__see-all.btn.btn--with-right-arrow(href="#", title="See all") See all
			ul.main-faq__list
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question What should I write in a job advertisement?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question Are employees legally required to wear helmet?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
				li.main-faq__list-item
					a(href="#").main-faq__list-item__question Sharefarmer or employee?
					a(href="#").main-faq__list-item__child-toggle
						span.show-for-sr Show answer
	hr
	section.row.columns.main-section.main-stories
		h1.main-section__title Real stories
		.medium-6.large-3.columns.main-story
			.main-story__hero
				img.main-story__hero-img(src="assets/img/story1.jpg", alt="Story 1 image")
			.main-story__text(data-mh="main-story__text")
				h2.main-story__title Fusce dapibus, tellus ac cursus commodos
				p.main-story__desc Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel ...
			.main-story__readmore
				a.btn.btn--with-right-arrow(href="#", title="Read more") Read more
		.medium-6.large-3.columns.main-story
			.main-story__hero
				img.main-story__hero-img(src="assets/img/story2.jpg", alt="Story 2 image")
			.main-story__text(data-mh="main-story__text")
				h2.main-story__title Cursus Mattis Sem
				p.main-story__desc Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
			.main-story__readmore
				a.btn.btn--with-right-arrow(href="#", title="Read more") Read more
		.medium-6.large-3.columns.main-story
			.main-story__hero
				img.main-story__hero-img(src="assets/img/story3.jpg", alt="Story 3 image")
			.main-story__text(data-mh="main-story__text")
				h2.main-story__title Fermentum Amet Adipiscing Sem
				p.main-story__desc Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. ....
			.main-story__readmore
				a.btn.btn--with-right-arrow(href="#", title="Read more") Read more
		.medium-6.large-3.columns.main-story
			.main-story__hero
				img.main-story__hero-img(src="assets/img/story4.jpg", alt="Story 4 image")
			.main-story__text(data-mh="main-story__text")
				h2.main-story__title Inceptos Porta Pharetra Purus Dapibus
				p.main-story__desc Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Nulla vitae elit
			.main-story__readmore
				a.btn.btn--with-right-arrow(href="#", title="Read more") Read more

block footer
	include _partials/footer