.menu-info{
	height: 62px;
	border-bottom: 1px solid #11a399;

	&__items{
		height: 30px;
		margin-top: 16px;
		margin-bottom: 16px;

		&__item1{
			font-family: 'Arial';
			font-weight: bold;
			color: f-color('darkGrey');	
			right: 10%;	
		}

		&__item2{
			padding-left: 10%;
			border-left: 1px solid f-color('darkGrey');

			p{
				margin: 0;
			}
			p:nth-child(2){
				color: f-color('blueGreen');
			}
		}	

		&__item3{
			right: 1%;	

			.icon-facebook{
				color: f-color('darkBlue');
				padding-right: 1rem;
			}
			.icon-twitter{
				color: f-color('lightBlue');
				padding-right: 1rem;
			}
			.icon-forward{
				color: f-color('black');
			}
		}	

		&__item4{
			padding-left: 10%;
			border-left: 1px solid f-color('darkGrey');
		}			
	}
}