.box{
	position: relative;
	color: #fff;
	overflow: hidden;
	
	&--pt-triangle-height{
		//this use the triangle height of the speechbox
		padding-top: $speech-box-triangle-height;
	}

	&__title{
		color: inherit;
		position: absolute;
	    z-index: 3;
	    font-family: 'Avenir-Black';
	    top: 50%;
	    @include transform(translateY(-50%));
	    left: 0;
	    right: 0;
	    text-align: center;
	    font-size: 46px;
	    padding: 0 10%;
	}

	&__quote{
		color: inherit;
		position: absolute;
	    z-index: 3;
	    top: 50%;
	    padding: 0 10%;
	    @include transform(translateY(-50%));
		font-family: 'Gotham-Medium';

		p{
			@include adjust-font-size-to(18px);
			color: inherit;
		}

		a{
			color: inherit;
			font-family: 'Arial';
			font-style: italic;
			font-size: 0.9em;
		}

		&--big-padding-side{
			padding: 0 20%;
		}

		&__content{
			&--big-font{
				@include adjust-font-size-to(26px);
			}
		}
	}

	&__background-image{
		width: 100%;
	}

	&__overlay{
		@extend %absolutefullsize;
		z-index: 1;

		@each $color, $hex in $colors{
			&--#{$color}{
				background: $hex;

				&.box__overlay--opaque{
					background-color: scale-lightness($hex, -25);	
				}

				@if($color == 'cream'){
					& ~ .box__quote{
						color: function-color('darkGrey');
					}
				}
			}
		}

		&--opaque{
			@include opacity(0.72);
		}
	}

	&__cta{
		font-family: 'Arial';

		&__link{
			color: inherit;
			@include adjust-font-size-to(18px);

			&:hover, &:focus{
				color: inherit;
			}

			.icon + &{
				margin-left: 10px;
			}

			& + .icon{
				margin-left: 10px;
			}

			&--small-font{
				font-size: 18px;
			}

			&--medium-font{
				font-size: 20px;
			}
		}

		&--italic{
			font-family: 'Arial-Italic';
		}
		&--right{
			text-align: right;
		}
		
	}

	&--16x9{
		@include maintain-ratio(16 9);
	}
}