.speech-box{
	position: relative;
	color: #fff;
	overflow: hidden;

	&__overlay{
		@extend %absolutefullsize;
		z-index: 1;
	}

	&__triangle{
		width: 0;
		height: 0;
		border-bottom: $speech-box-triangle-height solid black;
		border-right: $speech-box-triangle-width solid transparent !important;

		&--small{
			border-bottom: 38px solid black;
			border-right: 33px solid transparent !important;
		}

		&--tiny{
			border-bottom: 20px solid black;
			border-right: 16px solid transparent !important;
		}

		.speech-box--transparent-triangle &{
			border-color: transparent !important;
		}

		@include mq($bp-max-tablet){
			display: none;
		}
	}

	&__content{
		padding: 20px 36px;
		position: relative;

		&--no-padding{
			padding: 0;
		}

		&--vertical-center-quote{
			display: table;
			> .speech-box__quote{
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	&__quote{

		&__by{
			font-family: 'Arial-Italic';
			@include adjust-font-size-to(12px);
		}

		&--style-1{
			@include adjust-font-size-to(22px);
			line-height: 1.4em;
			font-family: 'Gotham-Medium';
			border-top: 4px solid #fff;
			border-bottom: 4px solid #fff;
			margin-left: 10%;
    		margin-top: 30px;
    		margin-bottom: 30px;
			p, blockquote{
				margin: 0;
				padding: 15px 0;
			}
		}

		&--style-2{
			@include adjust-font-size-to(20px);
			line-height: 1.3em;
			font-family: 'Arial-Bold';
			margin-left: 10%;
    		margin-top: 30px;
    		margin-bottom: 30px;
    		padding-top: 25px;
    		position: relative;

			p, blockquote{
				letter-spacing: 0.2px;
				margin: 0;
				padding: 15px 0;
			}
		
			&__open-quote, &__close-quote{
				position: absolute;
				font-size: 8em;
			}		
	
			&__open-quote{
				top: 0;
				left: -8px;
				&:before{
					content: open-quote;
					line-height: 0.5;
				}
			}

			&__close-quote{
				bottom: -45px;
				right: 0;
				&:before{
					content: close-quote;	
				}
			}
		}
		
		&--style-3{
			padding: 0 16%;
			@include adjust-font-size-to(18px);
			top: 50%;
			transform: translateY(-50%);
			font-family: 'Gotham-Medium';
			position: absolute;
		}
		
		//no image style
		&--style-4{
			p,blockquote{
				margin: 1em;
				@include adjust-font-size-to(18px);	
				font-family: 'Gotham-Medium';
			}

			.box__cta{
				margin-left: 1em;
			}
		}

		&--style-5{
			p,blockquote{
				margin: 1em;
				@include adjust-font-size-to(26px);
				line-height: 1.2em;
				font-family: 'Gotham-Medium';
			}
		}

	}


	//Modifiers
	@each $color, $hex in $colors{
		&--#{$color}{
			@if($color == 'cream'){
				color: function-color('darkGrey');
			}

			&.speech-box--opaque{
				.speech-box__content{
					background-color: scale-lightness($hex, -30);
					background-color: rgba(scale-lightness($hex, -30),0.6);
				}

				.speech-box__triangle{
					border-color: scale-lightness($hex, -30);
					border-color: rgba(scale-lightness($hex, -30),0.6);
				}
			}

			.speech-box__content{
				background-color: $hex;
			}

			.speech-box__triangle{
				border-color: $hex;
			}
		}
	}


	&--rounded{
		.speech-box__content{
			@include border-bottom-left-radius(4px);	
		}
		
		&-medium{
			.speech-box__content{
				@include border-bottom-radius(10px);
				@include border-top-right-radius(10px);
			}
		}

		&-big{
			.speech-box__content{
				@include border-bottom-radius(20px);
				@include border-top-right-radius(20px);
			}
		}
	}

	&--pos{
		&-absolute{
			position: absolute;
		}
		&-bottom-right{
			@extend .speech-box--pos-absolute;
			right: 0;
			bottom: 0;
			width: 100%;
		}
	}
}