.main-carousel {
    margin-bottom: 50px;
    //.main-carousel__item
    &__item {
        position: relative;
    }
    //.main-carousel__speech-box
    &__speech-box {
        @extend .speech-box--rounded-big;
        @extend .speech-box--pos-absolute;
        bottom: 85px;
        left: 180px;
        width: 50%;
        max-width: 418px;
        //.main-carousel__speech-box__triangle
        &__triangle {
            @extend .speech-box__triangle;
            @extend .speech-box__triangle--small;
            @include mq($bp-max-tablet) {
                display: block !important;
            }
            @include mq($bp-max-600) {
                @extend .speech-box__triangle--tiny;
            }
        }
        //.main-carousel__speech-box__content
        .speech-box__content {
            padding: 10px 10px 18px 36px;
            @include mq($bp-max-992) {
                padding: 14px 14px 18px 36px;
            }
            @include mq($bp-max-600) {
                padding: 14px 14px 10px 16px;
            }
        }
        //.main-carousel__speech-box__quote
        &__quote {
            > blockquote,
            > p {
                margin: 0;
                padding: 0;
            }
        }
        //.main-carousel__speech-box__title
        &__title {
            font-family: 'Arial-Bold';
            display: block;
            @include adjust-font-size-to(22px);
            @include mq($bp-max-992) {
                @include adjust-font-size-to(16px);
                margin-bottom: 5px;
            }
            @include mq($bp-max-600) {
                margin-bottom: 0;
            }
        }
        &__description {
            @include mq($bp-max-992) {
                @include adjust-font-size-to(12px, 2/3);
            }
            @include mq($bp-max-tablet) {
                display: none;
            }
        }
        //.main-carousel__speech-box__cta
        &__cta {
            @extend .box__cta;
            @extend .box__cta--italic;
            &__link {
                @extend .box__cta__link;
                @include adjust-font-size-to(14px);
                @include mq($bp-max-992) {
                    @include adjust-font-size-to(10px);
                    + .icon {
                        @include adjust-font-size-to(12px);
                    }
                }
                @include mq($bp-max-600) {
                    @include adjust-font-size-to(14px);
                }
            }
        }
        @include mq($bp-max-desktop) {
            left: 10%;
        }
        @include mq($bp-max-992) {
            max-width: 320px;
            bottom: 8%;
        }
        @include mq($bp-max-tablet) {
            bottom: 5%;
        }
        @include mq($bp-max-600) {
            @extend .speech-box--rounded-medium;
            width: 80%;
            max-width: 450px;
            left: 25px;
        }
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -39px;
        .owl-prev,
        .owl-next {
            position: absolute;
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
            &:before {
                @extend .icon;
                font-size: 5em;
                color: #ccc;
            }
        }
        .owl-prev {
            left: 0;
            &:before {
                content: function-icon('big-arrow-left');
            }
        }
        .owl-next {
            right: 0;
            &:before {
                content: function-icon('big-arrow-right');
            }
            @include mq($bp-min-desktop) {
                right: $left-space-size;
            }
        }
        @include mq($bp-min-desktop) {
            margin-right: -$left-space-size;
        }
        @include mq($bp-max-600) {
            display: none;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot {
            span {
                border: 1px solid #fff;
                background-color: transparent;
                width: 14px;
                height: 14px;
            }
            &.active,
            &:hover {
                span {
                    background-color: #fff;
                }
            }
        }

        @include mq($bp-max-tablet) {
            margin-bottom: 12px;
        }
         @include mq($bp-max-600) {
        	bottom: 0px;
        	margin-bottom: 0;
        }

        @include mq($bp-min-desktop) {
            max-width: 1366px;
            margin: 0 auto 42px auto;
            padding-left: $left-space-size;
        }
    }
}
