.row
	.small-12.columns
		p.footer-tag People in Agriculture is made for the industry by the industry, we thank all those involved
.row
	.carousel
.row
	.small-12.columns
		.footer-logo
			img(src="assets/img/footer-logo.png", alt="People in Agriculture logo")
		nav.footer-nav
			ul.footer-nav__list
				each item in site.data.footermenu
					li.footer-nav__list-item
						a(href=item.href, title=item.title)=item.title

			small.footer-dev Site Design and development by <a href="http://adelphi.digital" target="_blank" class="footer-dev__link">Adelphi.digital</a>
		.footer-right
			.footer-social
				small.footer-social__text Share our website
			.footer-gotop
				a.footer-gotop__link(href="#", title="Go to top") TOP
