include secondarymenu

.header__top
	.row
		.bp768-6.columns.header__top-left
			.header__logo
				a(href="#", title="Home")
					img(src="assets/img/logo.png", alt="logo")
			.header__logo-divider
				img(src="assets/img/divider.svg", alt="divider")
			.header__tag
				small.header__tag-top With focus on the
				strong.header__tag-bottom Livestock industry
				a(href="#").flyout-toggle.header__tag__flyout-toggle
					span.show-for-sr Toggle flyout

		.bp768-6.header__top-right.columns
			.row.header__top-right__row
				.small-5.large-4.columns.header__resource-column.header__resource-column--employers
					a.header__resource-link.header__resource-link--employers(href="#")
						small.header__resource-link-top Resources for
						strong.header__resource-link-bottom.header__resource-link-bottom--employers Employers
				.small-5.large-4.columns.header__resource-column.header__resource-column--employees
					a.header__resource-link.header__resource-link--employees(href="#")
						small.header__resource-link-top Guides for
						strong.header__resource-link-bottom.header__resource-link-bottom--employees Employees
				.small-2.columns.mobile-toggle-column
					a.mobile-toggle(href="#")
						span.show-for-sr Open mobile menu
						.mobile-toggle__lines
							span.mobile-toggle__line
							span.mobile-toggle__line
							span.mobile-toggle__line

				.header__search(data-mh="hrl")
					.header__search-icon.v-icon.v-icon-search
				
include flyoutmenu
include mobilemenu