nav.secondary-menu
	.row.large-collapse
		.large-offset-6.large-6.columns
			ul
				each item in site.data.secondarymenu
					li(class=item.liClass)
						a(href=item.href, title=item.title)=item.title

.header__top
	.row
		.large-6.columns
			.header__logo
				a(href="#", title="Home")
					img(src="assets/img/logo.png", alt="logo")
			.header__logo-divider
				img(src="assets/img/divider.svg", alt="divider")
			.header__tag
				small.header__tag-top With focus on the
				strong.header__tag-bottom Livestock industry
			a(href="#").flyout-toggle 
				span.show-for-sr Toggle flyout

		.large-6.columns
			.row
				.small-6.large-4.columns
					.header__resource-link
						small.header__resource-link-top Resources for
						strong.header__resource-link-bottom.header__resource-link-bottom--employers Employers
				.small-6.large-4.columns.end
					.header__resource-link
						small.header__resource-link-top Guides for
						strong.header__resource-link-bottom.header__resource-link-bottom--employees Employees
			.mobile-nav-toggle
.row.flyout
	.small-12.flyout__content
		.flyout__top
			p.flyout-intro Select an industry from below which best capture your interest. <a href="#">If you cannot find any industry that represents you, click here</a>
			a(href="#").flyout-close-btn Close
		.flyout__menus
			each item in site.data.flyoutmenu
				.flyout-menu
					a(href="#").flyout-menu__item(class=(item.isActive)? "is-active" : "")
						small.flyout-menu__item-text Focus on
						small.flyout-menu__item-text
						.flyout-menu__icon
							i(class="v-icon v-icon-"+item.icon)
						strong.flyout-menu__item-name=item.title
		
