nav.mobile-menu
	.mobile-menu-left.mobile-menu-left--employers
		.mobile-menu-left__title
			small Resources for
			strong Employers
		ul
			each item in site.data.mobilemenu.employers
				li
					a(href=item.href, title=item.title)=item.title
	
	.mobile-menu-left.mobile-menu-left--employees
		.mobile-menu-left__title
			small Guides for
			strong Employees
		ul
			each item in site.data.mobilemenu.employees
				li
					a(href=item.href, title=item.title)=item.title
	.mobile-menu-left.mobile-menu-left--subnav
		ul
			each item in site.data.secondarymenu
				li
					a(href=item.href, title=item.title)=item.title

	.mobile-menu-right
		nav
			a(href="#", title="Home")
				.v-icon.v-icon-home
				.mobile-menu-right__text Home
			a(href="#", title="Close").mobile-menu-close
				.v-icon.v-icon-close-round
				span.show-for-sr Close
			.mobile-menu-right__search
				.v-icon.v-icon-search