
- var topMenu = [{ title: 'About us', 'href': "#"}, { title: 'Who we help', 'href': "#"}, { title: 'Media and events', 'href': "#"}, { title: 'Get involved', 'href': "#"}, { title: 'Bookshop', 'href': "#"}]
- var topTabs = [{title: 'Donate', subtitle: 'and support us', href : '#', color: 'purple'}, {title: 'Talkline', subtitle: '1300 658 886', href : '#', color: 'yellow'}]

.container
	.top-menu-wrapper
		nav.top-menu
			ul.top-menu-list
				each item in topMenu
					li.top-menu-list__item
						a.top-menu-list__link(href=item.href)= item.title

		.top-search
			input.top-search__input.input.input--borderless.input--grey(type="search", placeholder="Search")
			.top-search-submit
				input(type="submit" value="").top-search-submit__btn
				i.top-search-submit__icon.icon.icon-search

	.top-logo
		img.top-logo__img(src="/assets/img/fpnsw-logo.png", alt="FPNSW logo")
	

	.top-tabs
		ul.top-tabs-list
			each item in topTabs
				li(class="top-tabs-list__item top-tabs-list__item--" + item.color)
					a.top-tabs-list__link(href=item.href)
						strong.top-tabs__title= item.title
						span.top-tabs__subtitle= item.subtitle
	.top-hamburger
		button.hamburger-btn
			span.sr-only Toggle navigation
			span.hamburger-btn__bar
			span.hamburger-btn__bar
			span.hamburger-btn__bar


