- var mainMenu = [{	title: 'Home', href: '#' }, {	title: 'Clients',	href: '#',	submenu: [	{	title: 'Ashfield', href: '#'	},	{	title: 'Dubbo', href: '#'	},	{	title: 'Fairfield', href: '#'	}, {	title: 'Newcastle', href: '#'	},	{	title: 'Penrith', href: '#'	},	{	title: 'Portfolio', href: '#'	}] },{	title: 'About Us',	href: '#'},{title: 'Contact',	href: '#' }	]

.main-menu-wrapper
	.container.main-menu-list-container
		.main-menu-list-wrapper
			ul.main-menu-list
				each item in mainMenu
					li.main-menu-list__item
						a.main-menu-list__link(href=item.href)= item.title
						if(item.submenu)
							ul.main-menu-list--child
								each submenuItem in item.submenu
									li.main-menu-list__item--child
										a.main-menu-list__link--child(href=submenuItem.href)= submenuItem.title

	.container.main-menu-list-2-container
		.top-group-wrapper
			.top-search.top-search--mobile
				input.top-search--mobile__input.input.input--borderless.input--grey(type="search", placeholder="Search")
				.top-search--mobile__submit
					input(type="submit" value="").top-search--mobile__submit__btn
					i.top-search--mobile__submit__icon.v-icon-search

			nav.top-menu.top-menu--mobile
				ul.top-menu--mobile__list
					each item in topMenu
						li.top-menu--mobile__list__item
							a.top-menu--mobile__list__link(href=item.href)= item.title

