.header{
	// {{header__top}}
	&__top{
		@include clearfix;
		@include mq(large){
			padding-left: rem-calc(16);
			padding-right: rem-calc(16);
			padding-top: rem-calc(24);
		}
		
		// {{header__top__row}}
		&__row{
			@extend .standard-w1170;
			@include m-zindex(header__top__row);
		}

		&__shadow{
			@include m-zindex(header__top__shadow);
			max-width: rem-calc(1366);
		    margin: auto;
		    height: 10px;
		    position: relative;
		    background-color: rgba(f-color('black'),0.1);

		    @include mq(large){
		    	margin-top: -2px; //the height of the active header__resource-link
		    }
		}

		// {{header__top-left}}
		&-left{
			padding-top: rem-calc(8);
			padding-bottom: rem-calc(16);

			@include mq(medium){
				padding-bottom: rem-calc(8);				
			}
		}
		
		// {{header__top-right}}
		&-right{
			
			@include mq(large){
				background-color: #fff;
			}

			&__row{
				height: 100%;
				min-height: 70px;
				margin: 0 rem-calc(-15);
				position: relative;

				.row &{
					margin: 0 rem-calc(-15);
				}
			}
			
		}
	}
	
	// {{header__logo}}
	&__logo{
		display: inline-block;
		vertical-align: bottom;
		max-width: rem-calc(80);

		@include mq(bp480){
			max-width: rem-calc(100);
		}

		@include mq(medium){
			max-width: none;
		}

		&-divider{
			display: inline-block;
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
			vertical-align: top;
			
			@include mq(large){
				padding-left: rem-calc(20);
				padding-right: rem-calc(20);	
			}
			
			img{
				max-height: 42px;

				@include mq(medium){
					max-height: none;
				}
			}			
		}

		img{
			@include mq(bp768){
				max-width: 100px;	
			}

			@include mq(large){
				max-width: 100%;
			}
		}
	}
	
	// {{header__tag}}
	&__tag{
		@include m-color('dark-grey');
		display: inline-block;
		vertical-align: bottom;
		padding-bottom: rem-calc(2);
		padding-right: rem-calc(35);

		@include mq(bp768){
			position: relative;	
		}

		// {{header__tag-top}}
		&-top{
			@include open-sans;
			font-weight: 600;
			font-size: rem-calc(12);
			display: block;

			@include mq(bp480){
				font-size: rem-calc(16);
			}
		}
		
		// {{header__tag-bottom}}
		&-bottom{
			@include slabo;
			font-size: rem-calc(18);
			display: block;
			line-height: 1;
			font-weight: 400;
			@include mq(bp480){
				font-size: rem-calc(24);
			}

			@include mq(large){
				font-size: rem-calc(30);
			}
		}
	}
	
	// {{header__resource-link}}
	&__resource-link{
		min-height: rem-calc(70);
		color: #ffffff;
		padding-top: rem-calc(8);
		padding-bottom: rem-calc(8);
		display: block;
		
		
		@include mq(large){
			@include m-color('dark-grey');
			@include clearfix;
			float: left;
			border-bottom: 2px solid transparent;
		}

		&:after{
			width: calc(100% + 30px);
		    height: 2px;
		    position: relative;
		    bottom: -10px;
		    z-index: 1;
		    left: rem-calc(-15);
		}

		// {{header__resource-link__top}}
		&-top{
			@include open-sans-semibold;
			font-size: rem-calc(12);
			display: block;
			color: #ffffff;
			
			@include mq(large){
				@include m-color('dark-grey');
				font-size: rem-calc(16);
			}
		}
		
		// {{header__resource-link__bottom}}
		&-bottom{
			@include slabo;
			font-size: rem-calc(24);
			font-weight: 400;
			display: block;
			color: #ffffff;

			@include mq(large){
				font-size: rem-calc(38);
				line-height: 1;
			}
			
			// {{header__resource-link--employers}}
			&--employers{
				@include mq(large){
					@include m-color('employers');	
				}
			}
			
			// {{header__resource-link--employers}}
			&--employees{
				@include mq(large){
					@include m-color('employees');	
				}
			}
		}
		
		// {{header__resource-link--employees}}
		&--employers{
			@include m-bgcolor('employers');
			@include mq(large){
				background-color: transparent;

				&.active{
					&:after{
						@include m-bgcolor('employers');
					}
				}
			}
		}
		
		// {{header__resource-link--employees}}
		&--employees{
			@include m-bgcolor('employees');
			@include mq(large){
				background-color: transparent;

				&.active{
					&:after{
						@include m-bgcolor('employees');
					}
				}
			}
		}
		
		// {{header__resource-link + header__resource-link}}
		& + & {
			@include mq(large){
				margin-left: 20px;	
			}
		}
	}

	// {{header__search}}
	&__search{
		display: none;

		@include mq(large){
			display: inline-block;
			margin-left: rem-calc(18);
		}

		// {{header__search-icon}}
		&-icon{
			@include m-color('dark-grey');
			font-size: rem-calc(40);
			position: absolute;
			bottom: 8px;
		}
	}
}