.mobile{
	// {{mobile-toggle}}
	&-toggle{
		position: relative;
		display: block;
		min-height: rem-calc(70);
		width: 100%;
		@include mq(small only){
			width: auto;
			margin-left: rem-calc(-5);
			margin-right: rem-calc(-5);
		}

		@include mq(large){
			display: none;
		}
		
		// {{mobile-toggle__lines}}
		&__lines{
			@include absolute-center;
			width: 100%;
		}
		
		// {{mobile-toggle__line}}
		&__line{
			height: rem-calc(6);
			background-color: white;
			max-width: rem-calc(40);
			display: block;
			margin: rem-calc(4) auto auto;
			border-radius: 4px;

			&:first-child{
				margin-top: 0;
			}
		}
		
		// {{mobile-toggle-column}}
		&-column{
			@include m-bgcolor('black');
			height: 100%;

			@include mq(large){
				background-color: transparent;
			}
		}
	}
	
	// {{mobile-menu}}
	&-menu{
		@include open-sans;
		position: absolute;
		z-index: -1;
		// display: none;
		width: 100%;
		top:0;
		left: 0;
		color: #ffffff;
		transform-origin: 0 0;
		transform: translateY(100%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease-out;

		&.js-open{
			@include m-zindex('mobilemenu');
			transform: none;
			opacity: 1;
			visibility: visible;
		}

		// {{mobile-menu-left}}
		&-left{
			max-width: calc( 100% - 49px);
			@include mq(medium){
				max-width: calc( 100% - 82px);
			}
			// {{mobile-menu-left__title}}
			&__title{
				padding-top: rem-calc(16);
				padding-bottom: rem-calc(16);
				padding-right: 8%;
				padding-left: 8%;
				small{
					display: block;
					@include open-sans-semibold;
					font-size: rem-calc(20);
				}
				strong{
					display: block;
					@include slabo;
					font-size: rem-calc(38);
				}
			}
			ul{
				margin: 0;
				list-style-type: none;
				@include mq(small only){
					font-size: rem-calc(14);
				}
			}

			li{
				padding-top: rem-calc(16);
				padding-bottom: rem-calc(16);
				padding-right: 8%;
				padding-left: 8%;
				border-top: 1px solid f-color('dark-grey');

				a{
					color: #ffffff;
				}
			}

			&--employers{
				@include m-bgcolor(employers);
				li{
					border-top-color: f-color('employers-dark');
				}
			}

			&--employees{
				@include m-bgcolor(employees);
				li{
					border-top-color: f-color('employees-dark');
				}
			}

			&--subnav{
				@include m-bgcolor('black');
			}
		}
		
		// {{mobile-menu-right}}
		&-right{ 
			@include m-bgcolor('black');
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: rem-calc(50);

			@include mq(medium){
				width: rem-calc(83);				
			}
			
			a{
				@include open-sans-semibold;
				font-size: rem-calc(14);
				color: #ffffff;
				display: block;
				text-align: center;
				width: 100%;
				margin-top: rem-calc(13);

				@include mq(medium){
					font-size: rem-calc(20);
				}

				& + a, & + div{
					margin-top: rem-calc(40);
				}
				
				.v-icon{
					font-size: rem-calc(30);
					@include mq(medium){
						font-size: rem-calc(50);
					}
				}
				.v-icon-home{
					& + .mobile-menu-right__text{
						margin-top: rem-calc(-10);
					}
				}
			}

			&__search{
				font-size: rem-calc(20);
				color: #ffffff;
				display: block;
				text-align: center;
				width: 100%;

				.v-icon{
					font-size: rem-calc(30);
					@include mq(medium){
						font-size: rem-calc(50);	
					}
				}
			}
		}
	}
}