.flyout{
	position: relative;
	max-width: rem-calc(1275);
	z-index: 11;
	display: none;

	&.is-open, &.js-open{
		display: block;
	}
	
	// {{flyout__content}}
	&__content{
		border-left: 11px solid rgba(f-color('black'), 0.2);
		border-bottom: 11px solid rgba(f-color('black'), 0.2);
		border-right: 11px solid rgba(f-color('black'), 0.2);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		position: absolute;
	}


	// {{flyout__top}}
	&__top{
		@include m-bgcolor('dark-grey');
		@include open-sans-semibold;
		color: #fff;
		text-align: center;
		position: relative;
		display: table;
		width: 100%;

		// {{flyout__top:before}}
		&:before{
			position: absolute;
			width:100%;
			top: 0;
			height: 5px;
			background-color: rgba(f-color('black'), 0.5);
		}
		
		&-left{
			display: table-cell;
			width: calc(100% - 70px);
			text-align: center;
			vertical-align: middle;
			padding: rem-calc(25);
		}
		&-right{
			display: table-cell;
			vertical-align: middle;
			@include m-bgcolor('black');
		}
	}
	
	// {{flyout-intro}}
	&-intro{
		display: inline-block;
		margin-bottom: 0;

		a{
			@include m-color('light-blue');
		}
	}
	
	// {{flyout-close-btn}}
	&-close-btn{
		color: #fff;
		display: inline-block;
		width: rem-calc(70);
		font-size: rem-calc(10);
		position: relative;
		padding-top: rem-calc(24);
		
		// {{flyout-close-btn__text}}
		&__text{
			display: block;
			margin-top: rem-calc(12);
		}

		&:before, &:after{
			content: '';
			width: 40%;
			height: 1px;
			background-color: #fff;
			position: absolute;
			top: 40%;
			left: 30%;
			transform-origin: center;
		}
		&:before{
			transform: rotate(45deg);
		}

		&:after{
			transform: rotate(-45deg);
		}
	}

	// {{flyout-toggle}}
	&-toggle{
		float: left;
		display: inline-block;
		@include m-sprite(toggle-open);
		width: 25px;
		height: 25px;
		vertical-align: bottom;
		margin-left: rem-calc(15);
		&.is-open, &.js-open{
			@include m-sprite(toggle-close);
		}
	}

	
	// {{flyout-menu}}
	&-menu{

		float: left;
		width: grid-column(1 of 7);
		background-color: #fbfbfb;
		text-align: center;
		padding: rem-calc(25) 0;
		border-right: 1px solid #eef0f1;
		border-top: 1px solid #eef0f1;
		@include m-color('dark-grey');
		
		// {{flyout-menu-text}}
		&-text{
			@include open-sans;	
			font-size: rem-calc(16);
			
			.is-active &{
				display: none;
			}

			&.is-active{
				display: none;

				.is-active &{
					display: inline;
				}
			}
		}
			
		// {{flyout-menu-name}}
		&-name{
			@include slabo;
			font-size: rem-calc(30);
		}

		&:hover, &:focus, &.active, &.is-active{
			@include m-color('employees');
	
			.flyout-menu__icon{
				@include m-color('employers');
				filter: drop-shadow( 0 2px 3px rgba(f-color('black'), 0.5) );
				//-- if using SVG 
				// fill: f-color('employers');
			}
		}

		&.active, &.is-active{
			position: relative;
			&:after{
				content: '';
			    width: 100%;
			    height: 100%;
			    box-shadow: 0 0px 28px rgba(35,44,46,0.2);
			    position: absolute;
			    top: 0;
			    left: 0;
			}
		}
		
		// {{flyout-menu__icon}}
		&__icon{
			display: block;
			width: 100%;
			font-size: rem-calc(70);
			transition: all 0.3s;

			//-- if using SVG 
			// fill: f-color('dark-grey');
			// height: 70px;
			
			.v-icon{
				vertical-align: middle;
			}

		}

		@for $i from 4 to 7{
			&:nth-last-child(#{$i}):first-child, &:nth-last-child(#{$i}):first-child ~ &,
			&:nth-last-child(#{$i* 2}):first-child, &:nth-last-child(#{$i * 2}):first-child ~ &{
				width: grid-column(1 of $i);
			}
		}
	
	}
	
}