.slick{
	&-prev, &-next{
		&:before{
			display: block;
			width: 10px;
			height: 17px;
		}
	}
	
	&-slide{
		img{
			margin: auto;
			padding: 0 rem-calc(10);
		}	
	}
	
	
	&-prev{
		&:before{
			@include m-icon('dot-arrow-left');
		}
	}

	&-next{
		&:before{
			@include m-icon('dot-arrow-right');
		}
	}

	&-loading &-list{
		background: #fff url("../img/ajax-loader.gif") center center no-repeat 
	}
}