.breadcrumb{
	@include open-sans-semibold;
	font-size: rem-calc(14);
	border: 2px solid #f6f7f7;
	border-radius: 4px;
	ul{
		@include m-nav-list;
		display: table;
		height: rem-calc(43);

		li{
			display: table-cell;
			padding: 0 26px;
			margin-right: 1rem;
			vertical-align: middle;
			position: relative;
			&:not(:last-child):after{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 29px;
				height: 45px;
				@include m-sprite('breadcrumb-arrow');
			}

			a{
				.v-icon{
					vertical-align: middle;
					font-size: rem-calc(40);
					margin-right: 1rem;
				}
			}

			&:first-child{
				a{
					@include m-color('dark-grey');	
				}
				
			}
			
		}
	}
}