.footer{
	@include clearfix;
	@include m-bgcolor('black');
	color: #fff;
	padding-top: rem-calc(50);
	max-width: rem-calc(1366);
	margin: auto;
	
	// {{footer-logo}}
	&-logo{
		float: left;
		margin: rem-calc(28) rem-calc(104) 0;

		padding-bottom: rem-calc(38);
		display: none;

		@include mq(medium){
			display: block;
		}
	}
	
	// {{footer-carousel}}
	&-carousel{
		
		// {{footer-carousel__container}}
		&-container{
			margin: rem-calc(60) auto;
			max-width: rem-calc(1152);
		}
		
		// {{footer-carousel__item}}
		&__item{
			display: block;
		}
	}

	// {{footer-nav}}
	&-nav{
		float: left;
		@include open-sans-semibold;
		font-size: rem-calc(12);
		padding: rem-calc(5) 0;
		padding-bottom: rem-calc(38);
		margin-top: rem-calc(28);
		display: none;

		@include mq(medium){
			display: block;
		}

		// {{footer-nav__list}}
		&__list{
			@include m-nav-list;
			margin-bottom: rem-calc(5);
			
			// {{footer-nav__list-item}}
			&-item{
				@include m-nav-list-item;
				margin-right: rem-calc(22);
				a{
					color: inherit;
				}

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	// {{footer-tag}}
	&-tag{
		@include slabo;
		font-size: rem-calc(30);
		text-align: center;
	}

	// {{footer-dev}}
	&-dev{
		display: block;
		@include open-sans;
		font-size: rem-calc(12);

		&__link{
			color: inherit;
		}
	}
	// {{footer-right}}
	&-right{
		@include clearfix;

		@include mq(medium){
			float: right;	
		}
		
	}
	// {{footer-social}}
	&-social{
		float: left;
		margin-top: rem-calc(28);
		margin-right: rem-calc(55);
		&__text{
			@include open-sans-semibold;
			font-size: rem-calc(12);
			margin-bottom: rem-calc(8);
			display: block;
		}

		&__icons{
			display: inline-block;
			width: 21px;
			height: 20px;
		}

		&__links{
			@include m-nav-list;

			&-item{
				@include m-nav-list-item;
				width: 33.333%;
				
				&:nth-last-child(3):first-child + li{
					text-align: center;
				}
				&:last-child{
					text-align:right;
				}
			}
		}
	}
	
	// {{footer-gotop}}
	&-gotop{
		@include clearfix;
		float: left;
		width: rem-calc(110);
		height: rem-calc(110);
		text-align: center;
		border-left: 1px solid #0c1010;
		position: relative;
		
		// {{footer-gotop__link}}
		&__link{
			@include open-sans-semibold;
			@include absolute-center;
			color: inherit;
			font-size: rem-calc(15);
			display: block;

			&:before{
				@include m-sprite(big-arrow-top);
				content: '';
				display: block;
				width: 23px;
				height: 14px;
				margin: 0 auto rem-calc(8px) auto;
			}
		}
	}
}