.standard{

	// {{standard__article}}
	&__article{
		@include clearfix;
		margin: 1rem 0;	

		h1,h2,h3,h4{
			margin-bottom: 2rem;
		}

		p{
			margin-bottom: 2rem;
		}
	}
	

	// {{standard-w1170}}
	&-w1170{
		@include mq('large'){
			max-width: rem-calc(1170px);
		}
	}
		
	&-row{
		&-breadcrumb{
			@extend .standard-w1170;
			margin-top: rem-calc(38);
		}
		&-main{
			@extend .standard-w1170;
			margin-top: 2rem;
		}
	}
	

	// {{standard-box}}
	&-box{
		border: 2px solid f-color('black');
		border-radius: 8px;
		margin: 1.5rem 0;
		display: table;
		width: 100%;
		
		p{
			margin-bottom: 1rem;
		}

		// {{standard-box__left}}
		&__left{
			display: table-cell;
			vertical-align: top;
			
			text-align: center;
			width: rem-calc(48);
			font-size: rem-calc(40);
			background-color: #eef0f1;
			padding-top: rem-calc(8);
			
			@include mq('medium'){
				width: rem-calc(55);
			}

			@include mq('bp768'){
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}
		
		// {{standard-box__content}}
		&__content{
			display: table-cell;
			vertical-align: top;
			padding: rem-calc(8) rem-calc(24);

			*:last-child{
				margin-bottom: 0;
			}
		}
		
		// {{standard-box__title}}
		&__title{
			@include open-sans-semibold;
			font-size: rem-calc(18);
			display: block;
		}
		
		// {{standard-box--red}}
		&--red{
			border-color: #f55818;
			
			.standard-box__left{
				background-color: #fcd5c5;
			}
		}
		
		// {{standard-box--green}}
		&--green{
			border-color: #dee9d4;

			.standard-box__title{
				@include m-color('employers');
			}

			.standard-box__left{
				@include m-bgcolor('employers');
				color: #ffffff;
			}
		}
		
		// {{standard-box--blue}}
		&--blue{
			border-color: f-color('employees');
		}
	}
	
	// {{standard-btn}}
	&-btn{
		@include slabo;
		border-radius: 6px;
		padding: rem-calc(18);
		text-align: center;
		font-size: rem-calc(22);
	}

	// {{standard__icon}}
	&__icon{

	}
	// {{standard__abstract}}
	&__abstract{
		@include m-color('dark-grey');
		font-size: rem-calc(20);
	}
	
	// {{standard__img}}
	&__img{
		padding: 1rem;
		text-align: center;
		margin-bottom: 1rem;
		margin-right: 0;

		@include mq(bp768){
			float: right;	

			&--with-shadow{
				&:after{
					content: '';
				    display: block;
				    margin: 3rem auto 0 auto;
				    height: rem-calc(32);
				    border-radius: 100%;
				    background-color: #f6f7f7;
				    width: 80%;
				}
			}
		}

		@include mq(xxlarge){
			margin-right: -100px;
		}
		
	}
	// {{standard__sidenav}}
	&__sidenav{
		@include open-sans-semibold;
		font-size: rem-calc(14);
		margin: 1rem 0;
		padding-left: 1rem;
		
		// {{standard__sidenav-indicator}}
		&-indicator{
			display: table-cell;
		    width: 74px;
		    vertical-align: top;
		    height: 100%;
		    margin-left: 10px;
			
			&:before, &:after{
				content: '';
				display: block;
			}

			//indicator's bullet
		    &:before{
			    @include m-bgcolor('grey');
			    width: 10px;
			    height: 10px;
			    margin-top: 6px;
			    border-radius: 100%;
			    position: relative;
			    margin-left: -5px;
			    z-index: 1;

			    .standard--employees .active &{
			    	@include m-bgcolor('employees');
			    }

			    .standard--employers .active &{
			    	@include m-bgcolor('employers');
			    }
		    }
			
			//indicator's line
		    &:after{
		    	@include m-bgcolor('light-grey');
		    	position: absolute;
			    top: 17px;
			    bottom: -14px;
			    width: 1px;
			    left: 0;

			    .standard--employees .active &{
			    	@include m-bgcolor('employees');
			    }

			    .standard--employers .active &{
			    	@include m-bgcolor('employers');
			    }
		    }
		}

		// {{standard__sidenav-links}}
		&-links{
			display: table-cell;

			a + ul{
				margin-top: 0.5rem;
			}
		}

		ul{
			@include m-nav-list;
			
			
		}

		& > ul {
			> li {
				padding: 0.5rem 0;
				display: table;
				width: 100%;
				position: relative;
				a{
					color: inherit;
				}
				
				&.active{
					.standard__sidenav-links > a {
						font-weight: 800;	
					}
					
					.standard--employees &{
						@include m-color('employees');
					}

					.standard--employers &{
						@include m-color('employers');
					}	
				}

				&:last-child{
					.standard__sidenav-indicator{
						&:after{
							content: normal;
						}
					}
				}

				li{
					font-weight: 400;

					+ li{
						padding: 0;
					}
				}
			}
		}	
	}

	// {{standard__standard-box}}
	&__standard-box{
		margin-left: rem-calc(-15);
		margin-right: rem-calc(-15);
		width: auto;
		border-radius: 0;
		border-left-width: 0;
		border-right-width: 0;
		@include mq(bp768){
			margin-left: 0;
			margin-right: 0;
			width: 100%;
			border-radius: 4px;
			border-left-width: 2px;
			border-right-width: 2px;
		}
	}

	// {{standard__heading}}
	&__heading{
		font-size: rem-calc(34);
		text-align: center;
		
		@include mq(bp768){
			text-align: left;
		}
		
		.standard--employers &, &--employers, &--green{
			@include m-color(employers);
		}

		.standard--employees &, &--employees, &--blue{
			@include m-color(employees);
		}
	}
	
	// {{standard__relevant}}
	&__relevant{
		border-top: 1px solid f-color('light-grey');
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: rem-calc(15);
		padding-right: rem-calc(15);
		margin-left: rem-calc(-15);
		margin-right: rem-calc(-15);
		
		@include mq(bp768){
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
		
		// {{standard__relevant-title}}
		&-title{
			margin-bottom: 1rem;
			display: block;
		}
		
		// {{standard__relevant__list}}
		.standard__relevant__list{
			list-style-type: none;
			margin: 0;
			
			// {{standard__relevant__list-item}}
			&-item{
				margin-bottom: 1rem;
				@include mq(bp768){
					float: left;
					width: 50%;
					padding-right: 1rem;
				}
				
			}
		}
	}

	// {{standard__related}}
	&__related{
		border-top: 1px solid f-color('light-grey');
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: rem-calc(15);
		padding-right: rem-calc(15);
		margin-left: rem-calc(-15);
		margin-right: rem-calc(-15);
		
		&-title{
			display: block;
			margin-bottom: 1rem;
		}

		// {{standard__related__list}}
		&__list{
			@include m-nav-list;

			&-item{
				@include m-nav-list-item;
				margin-right: rem-calc(32);
				margin-bottom: 0.5rem;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	// {{standard__footer}}
	&__footer{
		@include m-bgcolor(employees);
		color: #ffffff;
		position: relative;

		@include mq(large){
			display: block;
		}

		&-col{
			@include mq(large){
				display: block;
			}
		}
		
		// {{standard__footer__standard-btn}}
		&__standard-btn{
			@include m-color(employees-dark);
			display: block;
			background-color: #ffffff;
			position: relative;
		
			@include mq(bp768){
				margin-top: rem-calc(80);	
			}
			
			@include mq(bp768){
				margin-top: rem-calc(40);
				position: absolute;
				left: 2rem;
				width: calc(50% - 4rem);
				bottom: 1rem;
			}

			@include mq(xlarge){
				position: relative;
				left: auto;
				bottom: auto;
				width: 100%;
				margin-top: rem-calc(40);
			}

			@include mq(xxlarge){
				margin-top: rem-calc(80);
			}
			
			&:after{
				@include m-icon('dot-arrow-right');
				@include vertical-center;
				right: 1rem;
			}
		}

		// {{standard__footer__img}}
		&__img{

			@include mq(bp768){
				height: 100%;
			}

			@include mq(xlarge){
				position: relative;
				height: 0;
				overflow: hidden;
				padding-bottom: (387 - 1)/462 * 100%;
			}
			
			img{
				width: 100%;
				@include mq(bp768){
					height: 100%;
				}

				@include mq(xlarge){
					@include absolute-center;	
				}
			}
		}

		// {{standard__footer__content}}
		&__content{
			padding: rem-calc(18);

			@include mq(bp768){
				padding-left: rem-calc(45);
				max-width: rem-calc(830);	
			}
			
			&-sub{
				margin-top: rem-calc(16);
				p{
					font-size: rem-calc(14);
				}
			}
		}
		
		// {{standard__footer__title}}
		&__title{
			@include slabo;
			display: block;
			text-align: center;
			font-size: rem-calc(18);

			@include mq(bp768){
				text-align: left;
				font-size: rem-calc(34);
			}
		}
		
		// {{standard__footer__quote}}
		&__quote{
			color: #ffffff;
			margin-bottom: 1rem;
			&-title{
				@include open-sans-semibold;
			}

			&-sub{
				@include open-sans;
			}
			
			&-title, &-sub{
				display: block;
				font-size: rem-calc(14);
				padding: 0 rem-calc(32);
			}

			blockquote{
				@include slabo;
				color: #ffffff;
				font-size: rem-calc(28);
				border: 0;
				padding: 0 rem-calc(32);
				position: relative;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				line-height: 1.2;

				&:before, &:after{
					@include slabo;
					position: absolute;
					font-size: rem-calc(48);
					height: 0;
					line-height: 1;
				}

				&:before{
					content: '“';
					top: 0;
					left: 0;
				}
				&:after{
					content: '”';
					bottom: rem-calc(30);
					right: 0;
				}
			}
			
		}

	}

	// {{standard__sidesponsor}}
	&__sidesponsor{
		max-width: rem-calc(280px);
		text-align: center;

		&__text{
			font-size: rem-calc(12);
			display: block;
			margin-bottom: 1rem;
		}
	}

	// {{standard__sidetools}}
	&__sidetools{
		border: 2px solid #d3d5d5;
		border-radius: 6px;
		max-width: rem-calc(280px);
		
		// {{standard__sidetools__list}}
		&__list{
			@include m-nav-list;
			@include open-sans-semibold;
			list-style-type: none;
			display: table;
			width: 100%;
			
			// {{standard__sidetools__list-item}}
			&-item{
				display: table-cell;
				font-size: rem-calc(14);
				width: 50%;
				vertical-align: middle;
				text-align: center;
				padding: 1rem 0;

				.v-icon{
					display: block;
					font-size: rem-calc(32);
					margin-bottom: rem-calc(5);
				}
				& + &{
					border-left: 1px solid #eef0f1;
				}
			}

		}

		.standard--employees & a{
			@include m-color(employees);
		}

		.standard--employers & a{
			@include m-color(employers);
		}
		
		// {{standard__sidetools__related}}
		&__related{
			margin: 0;
			padding: 1rem;
			
			li{
				margin-right: 1rem;
			}

			a{
				font-size: rem-calc(14);
				.standard--employees &{
					@include m-color(employees);
				}

				.standard--employers &{
					@include m-color(employers);
				}
			}

		}
	}

	// {{standard__siderow}}
	&__siderow{
		& + &{
			margin-top: rem-calc(140);
		}
	}
}