.main{
	// {{main-section}}
	&-section{
		margin-bottom: rem-calc(46);

		// {{main-section__title}}
		&__title{
			@include slabo;
			@include m-color("dark-grey");
			text-align: center;
			margin-bottom: rem-calc(60);
		}

		h1,h2,h3{
			@include slabo;
		}

		h1{
			font-size: rem-calc(38);
		}
		h2{
			font-size: rem-calc(22);
		}

		p{
			@include m-color("dark-grey");
		}

		p, a{
			@include open-sans;
		}
	}
	
	// {{main-focus}}
	&-focus{
		position: relative;
		
		// {{main-focus__sub}}
		&__sub{

			@include mq(medium){
				position: absolute;	
				left: 87/1366 * 100%;
				right: 87/1366 * 100%;
				bottom: rem-calc(-50);
				z-index: 1;
			}
			
		}
	}

	// {{main-links}}
	&-links{
		position: relative;
		
		color: #ffffff;

		@include mq(medium){
			border-radius: 6px;
			border: 4px solid;
		}

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
		}
		
		// {{main-links__link-box}}
		&__link-box{
			position: relative;

			@include mq(medium){
				&:before{
					content: '';
					width: 100%;
					height: 1px;
					display: block;
					@include vertical-center;

				}

				&:after{
					content: '';
					height: 100%;
					width: 1px;
					display: block;
					top: 0;
					@include horizontal-center;
				}
			}
			
			
			// {{main-links__link-box--employers}}
			&--employers{
				&:before, &:after{
					@include m-bgcolor('employers-dark');
				}
			}
			
			// {{main-links__link-box--employees}}
			&--employees{
				&:before, &:after{
					@include m-bgcolor('employees-dark');
				}
			}
		}

		
		// {{main-links__title}}
		&__title{
			@include slabo;
			font-size: rem-calc(38);
			height: rem-calc(105);
			position: relative;
			
			// {{main-links__title__small}}
			&__small{
				@include open-sans-semibold;
				font-size: rem-calc(16);
				display: block;
			}

			// {{main-links__title__text}}
			&__text{
				position: absolute;
				bottom: rem-calc(-16);
				display: block;
				margin: 0 10%;
			}
		}
		
		// {{main-links__list}}
		&__list{
			
			@include clearfix;
			@include open-sans-semibold;
			margin: 0;
			list-style-type: none;

			// {{main-links__list-item}}
			&-item{
				@include mq(medium){
					float: left;
					width: 50%;
					min-height: rem-calc(105);
				}
				
				padding: rem-calc(16);
				position: relative;
				a{
					color: inherit;
				}
			}
		}
		
		// {{main-links--employers}}
		&--employers{
			&:before{
				@include m-bgcolor('employers');
			}
			
			border-color: rgba(f-color('employers-dark'), 0.5);
		}
	
		// {{main-links--employees}}
		&--employees{
			&:before{
				@include m-bgcolor('employees');	
			}
			border-color: rgba(f-color('employees-dark'), 0.5);
		}
	}

	// {{main-subhero}}
	&-subhero{
		position: relative;
		
		a.main-subhero__link{
			@include slabo;
		}
		
		// {{main-subhero__link}}
		.main-subhero__link{
			
			@include m-color('blue');
			font-size: rem-calc(38);
			@include absolute-center;
			border: 4px solid #f1f2f2;
			border-radius: 6px;
			display: block;
			background-color: rgba(255,255,255, 0.5);
			width: 80%;
			max-width: rem-calc(726);
			text-align: center;
			padding: rem-calc(24);
			&__text{
				background-color: #fff;
				display: block;
				width: 100%;
				height: 100%;
				padding: rem-calc(17/2) 0;
				margin: auto;
				border-radius: inherit;
			}
		}
	}

	// {{main-faq}}
	&-faq{
		// {{main-faq__top}}
		&__top{
			@include clearfix;
		}

		// {{main-faq__title}}
		&__title{
			@include slabo;
			float: left;
		}

		// {{main-faq__see-all}}
		&__see-all{
			float: right;
			&:hover, &:focus{
				color: #ffffff;
			}

			&:after{
				content:'';
			}
		}

		// {{main-faq__list}}
		&__list{
			list-style-type: none;
			margin-left: 0;

			@include mq(medium){
				margin-left: rem-calc(8);	
			}
			
			
			// {{main-faq__list-item}}
			&-item{
				@include open-sans;
				padding: rem-calc(8) 0;
			}
		}
	}	

	// {{main-stories}}
	&-stories{
		padding-left: 0;
		padding-right: 0;
		max-width: rem-calc(1182);
	}
	
	// {{main-story}}
	&-story{
		margin-bottom: 2rem;

		// {{main-story__text}}
		&__text{
			max-width: rem-calc(275);
			margin: auto;
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
		}
		
		// {{main-story__hero}}
		&__hero{
			text-align: center;
			margin-bottom: rem-calc(30);
			&-img{
				border-radius: 12px;
			}
		}
		
		// {{main-story__title}}
		&__title{

		}

		// {{main-story__desc}}
		&__desc{
		}

		// {{main-story__readmore}}
		&__readmore{
			max-width: rem-calc(275);
			margin: rem-calc(20) auto auto;
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
		}
	}

	// {{main-secondary}}
	&-secondary{
		margin-top: rem-calc(100);

		// {{main-secondary__item}}
		&__item{
			padding: 0 rem-calc(35);
		}

		.columns + .columns{
			border-left: 1px solid f-color('light-grey');
		}
	}
}