.footer{
	@include clearfix;
	@include m-bgcolor('black');
	color: #fff;
	padding-top: rem-calc(50);
	max-width: rem-calc(1366);
	margin: auto;
	
	// {{footer-logo}}
	&-logo{
		float: left;
		margin: rem-calc(28) 5% 0;
		// padding-bottom: rem-calc(38);
		display: none;
		
		@include mq(medium){
			display: block;
		}
		@include mq(bp768){
			
			margin-left: rem-calc(104);
			margin-right: rem-calc(104);
		}
	}
	
	// {{footer-carousel}}
	&-carousel{
		opacity: 0.3;
		transition: opacity 0.3s;
		
		// {{footer-carousel__container}}
		&-container{
			margin: rem-calc(50) auto 0 auto;
			padding-left: rem-calc(50);
			padding-right: rem-calc(50);
			max-width: rem-calc(1300);
		}
		
		// {{footer-carousel__item}}
		&__item{
			display: inline-block;

			.footer-carousel.js-active &{
				display: block;
			}
		}

		&.slick-initialized{
			opacity: 1;
		}
	}

	// {{footer-nav}}
	&-nav{
		float: left;
		@include open-sans-semibold;
		font-size: rem-calc(12);
		padding: rem-calc(5) 0;
		// padding-bottom: rem-calc(38);
		margin-top: rem-calc(28);
		display: none;

		@include mq(medium){
			display: block;
		}

		// {{footer-nav__list}}
		&__list{
			@include m-nav-list;
			margin-bottom: rem-calc(5);
			
			// {{footer-nav__list-item}}
			&-item{
				@include m-nav-list-item;
				margin-right: rem-calc(22);
				a{
					color: inherit;
				}

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	// {{footer-tag}}
	&-tag{
		@include slabo;
		text-align: center;
		font-size: rem-calc(24);
		
		@include mq(medium){
			font-size: rem-calc(30);	
		}
		
		
	}

	// {{footer-dev}}
	&-dev{
		display: block;
		@include open-sans;
		font-size: rem-calc(12);

		&__link{
			color: inherit;
		}
	}
	// {{footer-right}}
	&-right{
		@include clearfix;
		float: none;
		border-top: 1px solid #000;

		@include mq(medium){
			border-top: none;
			float: right;	
		}
		
	}
	// {{footer-social}}
	&-social{
		float: left;
		margin-top: rem-calc(28);
		width: 70%;	
		text-align: center;

		@include mq(medium){
			text-align: left;
			margin-right: rem-calc(55);
			width: auto;
		}
		
		// {{footer-social__text}}
		&__text{
			@include open-sans-semibold;
			font-size: rem-calc(12);
			margin-bottom: rem-calc(8);
			display: block;
		}
		
		// {{footer-social__icons}}
		&__icons{
			display: inline-block;
			width: 21px;
			height: 20px;
		}
		
		// {{footer-social__links}}
		&__links{
			@include m-nav-list;
			
			// {{footer-social__links-item}}
			&-item{
				margin-left: rem-calc(10);
				display: inline-block;
				
				&:first-child{
					margin-left: 0;
				}



				@include mq(medium){
					width: 33.333%;
					margin-left: auto;
					display: list-item;
					@include m-nav-list-item;
					&:nth-last-child(3):first-child + li{
						text-align: center;
					}
					&:last-child{
						text-align:right;
					}	
				}
				


			}
		}
	}
	
	// {{footer-gotop}}
	&-gotop{
		@include clearfix;
		float: right;
		width:30%;
		max-width: rem-calc(193);
		height: rem-calc(110);
		text-align: center;
		border-left: 1px solid #0c1010;
		position: relative;

		
		@include mq(medium){
			float: right;
			max-width: none;
			width: rem-calc(110);	
		}
		
		
		// {{footer-gotop__link}}
		&__link{
			@include open-sans-semibold;
			@include absolute-center;
			color: inherit;
			font-size: rem-calc(15);
			position: relative;
			display: block;
			
			.v-icon{
				font-size: rem-calc(30);
				display: block;
				// position: absolute;
				width: 100%;
				// top: 0;
			}
		}
	}
}