.btn{
	position: relative;
	display: inline-block;
	font-size: rem-calc(12);
	line-height: 2;
	text-align: center;
	padding: 0 rem-calc(10);
	min-width: rem-calc(92);
	height: rem-calc(24);
	color: #ffffff;
	border-radius: 20px;
	@include m-bgcolor('blue');

	&:hover, &:focus{
		color: #ffffff;
	}

	&--with-right-arrow{
		text-align: left;
		&:after{
			@include m-icon('dot-arrow-right');
			width: 5px;
			height: 8px;
			right: 12px;
			margin-left: rem-calc(10);
			float: right;
			margin-top: rem-calc(8);
		}
	}
}