.main-carousel {
    margin-bottom: 50px;
    //.main-carousel__item
    &__item {
        position: relative;
    }
    
    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -39px;
        .owl-prev,
        .owl-next {
            position: absolute;
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
            &:before {
                @extend .icon;
                font-size: 5em;
                color: #ccc;
            }
        }
        .owl-prev {
            left: 0;
            &:before {
                @include m-use-icon('chevron-left');
            }
        }
        .owl-next {
            right: 0;
            &:before {
                @include m-use-icon('chevron-right');
            }
        }
        @include mq($bp-max-600) {
            display: none;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot {
            span {
                border: 1px solid #fff;
                background-color: transparent;
                width: 14px;
                height: 14px;
            }
            &.active,
            &:hover {
                span {
                    background-color: #fff;
                }
            }
        }

        @include mq($bp-max-tablet) {
            margin-bottom: 12px;
        }
        @include mq($bp-max-600) {
        	bottom: 0px;
        	margin-bottom: 0;
        }

        @include mq($bp-min-desktop) {
            max-width: 1366px;
            margin: 0 auto 42px auto;
            padding-left: $left-space-size;
        }
    }
}
