.main{
	// {{main-section}}
	&-section{
		margin-bottom: rem-calc(46);

		// {{main-section__title}}
		&__title{
			@include slabo;
			@include m-color("dark-grey");
			text-align: center;
			margin-bottom: rem-calc(60);
		}

		h1,h2,h3{
			@include slabo;
		}

		h1{
			font-size: rem-calc(38);
		}
		h2{
			font-size: rem-calc(22);
		}

		p{
			@include m-color("dark-grey");
		}

		p, a{
			@include open-sans;
		}
	}

	// {{main-subhero}}
	&-subhero{
		position: relative;
		
		a.main-subhero__link{
			@include slabo;
		}
		
		// {{main-subhero__link}}
		.main-subhero__link{
			
			@include m-color('blue');
			font-size: rem-calc(38);
			@include absolute-center;
			border: 4px solid #f1f2f2;
			border-radius: 6px;
			display: block;
			background-color: rgba(255,255,255, 0.5);
			width: 80%;
			max-width: rem-calc(726);
			text-align: center;
			padding: rem-calc(24);
			&__text{
				background-color: #fff;
				display: block;
				width: 100%;
				height: 100%;
				padding: rem-calc(17/2) 0;
				margin: auto;
				border-radius: inherit;
			}
		}
	}

	// {{main-faq}}
	&-faq{
		// {{main-faq__top}}
		&__top{
			@include clearfix;
		}

		// {{main-faq__title}}
		&__title{
			@include slabo;
			float: left;
		}

		// {{main-faq__see-all}}
		&__see-all{
			float: right;
			&:hover, &:focus{
				color: #ffffff;
			}

			&:after{
				content:'';
			}
		}

		// {{main-faq__list}}
		&__list{
			list-style-type: none;
			margin-left: rem-calc(8);
			
			// {{main-faq__list-item}}
			&-item{
				@include open-sans;
				padding: rem-calc(8) 0;
			}
		}
	}
	
	// {{main-story}}
	&-story{
		// {{main-story__text}}
		&__text{
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);	
		}
		
		// {{main-story__title}}
		&__title{

		}

		// {{main-story__desc}}
		&__desc{
		}

		// {{main-story__readmore}}
		&__readmore{
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
		}
	}
}