.secondary-menu{
	@include open-sans-semibold;
	@include m-bgcolor('black');
	font-size: rem-calc(12);
	display: none;

	@include mq('large'){
		display: block;
	}

	ul{
		@include m-nav-list;
		li{
			@include m-nav-list-item;
		}
	}

	a{
		color: #fff;
		line-height: 24px;
		padding-left: rem-calc(14);
		padding-right: rem-calc(14);
		display: block;
	}
}