.mobile{
	// {{mobile-toggle}}
	&-toggle{
		position: relative;
		display: block;
		min-height: rem-calc(63);
		width: 100%;

		@include mq(large){
			display: none;
		}
		
		&__lines{
			@include absolute-center;
			width: 100%;
		}

		&__line{
			height: rem-calc(6);
			background-color: white;
			max-width: rem-calc(40);
			display: block;
			margin: rem-calc(4) auto auto;
			border-radius: 4px;

			&:first-child{
				margin-top: 0;
			}
		}

		&-column{
			@include m-bgcolor('black');
			height: 100%;

			@include mq(large){
				background-color: transparent;
			}
		}
	}
}