.top{
   
   //.top-menu
    &-menu{
        @include m-clearfix;

        //.top-menu__list
        &__list{
            @include m-nav-list;
            
            //.top-menu__list-item
            &-item{
                @include m-nav-list-item;
                height: 45px;
                width: 180px;
                margin-right: 11px;
                border-bottom-right-radius: 11px;

                &:last-child{
                    margin-right: 0;
                }
                
                &--yellow{
                    background-color: f-color('yellow');
                }

                &--blue{
                    background-color: f-color('blue');
                }

                &--green{
                    background-color: f-color('green');
                }
            }

            //.top-menu__list-link
            &-link{
                color: f-color('darkBrown');
                display: block;
                text-align: center;
                font-family: Lato;
                font-weight: bold;
                font-size: 18px;
                line-height: 45px;
            }
        }     
    }

   //.top-right
    &-right{
        @include m-clearfix;

        //.top-right-social-icons
        &-social-icons{

            //.top-right-social-icons__list
            &__list{
                @include m-nav-list;

                //.top-right-social-icons__list-item
                &-item{
                    @include m-nav-list-item;
                    margin-right: 15px;
                }

                //.top-right-social-icons__list-link
                &-link{
                    color: f-color('darkBrown');
                    font-size: 24px;
                }
            }
        }
    }
}
